{% extends "base.html" %}
{% load wagtailcore_tags menu_tags cgs_tags static %}

{% block body_class %}cgs-administration menu{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/administration.min.css' %}">
{% endblock extra_css %}

{% block extra_js %}
    <script type="module" src="{% static 'js/administration.min.js' %}"></script>
{% endblock extra_js %}

{% block header %}
    <nav class="cgs-nav header">
        {% with class_type="nav" %}
            {% flat_menu 'home' show_menu_heading="True" max_levels=1 %}
        {% endwith %}
    </nav>
{% endblock %}

{% block footer_left %}
    {% include 'widgets/search/admin_search.html' %}
{% endblock %}

{% block footer_mid %}
    {% with class_type="nav" item_type="administration" menu=admin_menu logo_type=True %}
        {% include 'administration/widgets/ul_item.html' %}
    {% endwith %}
{% endblock %}