{% if wrapper %}
    <div class="cgs-swap cgs-swap-wrapper {{wrap_class}}">
{% endif %}

<a 
    class="{{ swap_class }} cgs-swapable" 
    title={{ swap_initial }} 
    {% if smooth %}data-smooth=True{% endif %} 
    {% if horizontal %}data-width=True{% endif %} 
>

{% if swap_initial == "Afficher" %}
    {% if chevron %}
        {% if horizontal %}
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more_right %}
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less_left class_type="cgs-hidden" %}
        {% else %}
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more class_type=primary_class %}
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type=secondary_class class_type="cgs-hidden" %}
        {% endif %}
    {% elif cross %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.open class_type=primary_class %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.close class_type=secondary_class class_type="cgs-hidden" %}
    {% elif filter %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.apply_filter class_type=primary_class %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.reset_filter class_type=secondary_class class_type="cgs-hidden" %}
    {% elif search %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.zoom_in class_type=primary_class %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.zoom_out class_type=secondary_class class_type="cgs-hidden" %}
    {% elif star %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.star class_type=primary_class %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.star_out class_type=secondary_class class_type="cgs-hidden" %}
    {% else %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more class_type=primary_class %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type=secondary_class class_type="cgs-hidden" %}
    {% endif %}
{% else %}
    {% if chevron %}
        {% if horizontal %}
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more_right class_type="cgs-hidden" %}
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less_left %}
        {% else %}
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more class_type=primary_class class_type="cgs-hidden" %}
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type=secondary_class %}
        {% endif %}
    {% elif cross %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.open class_type=primary_class class_type="cgs-hidden" %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.close class_type=secondary_class %}
    {% elif filter %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.apply_filter class_type=primary_class class_type="cgs-hidden" %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.reset_filter class_type=secondary_class %}
    {% elif search %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.zoom_in class_type=primary_class class_type="cgs-hidden" %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.zoom_out class_type=secondary_class %}
    {% elif star %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.star class_type=primary_class class_type="cgs-hidden" %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.star_out class_type=secondary_class %}
    {% else %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more class_type=primary_class class_type="cgs-hidden" %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type=secondary_class %}
    {% endif %}
{% endif %}
</a>

{% if heading %}
    <p class="cgs-heading">{{ heading }}</p>
{% endif %}

{% if wrapper %}
    </div>
{% endif %}
