.cgs-icon {
    max-height: 1.75rem;
    max-width:  1.75rem;
}
.cgs-warning {
    left:0;
    max-width: 1.2rem;
    max-height: 2rem;
    height: 2rem;
    padding-left: 1rem;

    color: var(--w-color-critical-200)!important;
    font-size: .85rem;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    padding-left: 1.2rem;

    &:hover {
        max-width: 300px;
        text-wrap: wrap;
        overflow: visible;
    }
    &::before {
        cursor:help;
        top:0;
        left:0;
        transform-origin: center 30%;
        animation: blink 3s linear infinite;
    }
}

@keyframes blink {
    0%, 10%, 20%, 30%, 100% { scale: 1; }
    5%, 25% { scale: 0.5; }
}

.cgs-info{
    left:0;
    max-width: 125px;
    max-height: 2rem;
    height: 2rem;
    padding-left: 1.2rem;

    color: var(--w-color-warning-100)!important;
    font-size: .85rem;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;

    &:hover {
        max-width: 325px;
        text-wrap: wrap;
        overflow: visible;
    }
    &::before {
        top:0;
        left: 0;
    }
}

div.cgs-main {// Positionnement général des éléments
    background: hsl(172, 56%, 87%);
    width:100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 1fr;

    section.top {
        grid-row: 1;
        grid-column: 1 / span 2;

        height: 100px;
        width: 100%;
    }
    
    section.left {
        grid-row: 2;
        grid-column: 1;

        height: 100%;
        width: 100%;
    }
    
    section.right {
        grid-row: 2;
        grid-column: 2;

        height: 100%;
        width: 100%;
    }

    #object_divers, #object_convocation {
        all:initial;
    }

    * {
        color: var(--w-color-text-label);
    }

    button * {
        color:var(--w-color-grey-50);
    }
}

header {
    margin-bottom: .5rem!important;

    div.left {
        width:75%;
        flex-direction: row;
        align-items: flex-start!important;
        justify-content: space-between!important;

            
        > div {
            min-width: fit-content;
            margin-bottom: 2rem;
        }

        form {
            flex: 1 1 auto;
            justify-self: center;
            min-width: fit-content;
            display: flex;
            justify-content: center;
            align-items: flex-start;

            > div {
                width: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            
            div#open-search-mail {
                cursor: pointer;
                height:2rem;
                margin:0 1rem 1rem 1rem;
                
                h2 {
                    user-select: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: .5rem;
                }
            }

            div.submit {
                display: flex;
                justify-content: center;                
            }
        }
    }

    div.right {
        width:25%;
        justify-content: flex-end;
        align-items: flex-start;

        div.validation {
            button {
                width:200px;
                height: 75px;
            }
        }
    }
}

section.cgs-pathed {// Sections cachées
    &.left {
        clip-path: inset(0 100% 0 0);
    }
    &.right {
        clip-path: inset(0 0 0 100%);
    }
}

section.top {// Choix de l'object (amicale ou convocation)
    background: var(--cgs-theme-background-2);

    * {
        color:var(--w-color-grey-50);
    }

    div.cgs-objects {
        display: flex;
        flex-direction: column;  
        height: 100%;

        > label {            
            flex:none;
            height: 35px;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.25rem;
            font-weight: 800;
        }
    
        div#objects {            
            flex:none;
            height: 65px;
            width: 100%;
            display: flex;
            flex-direction: row;
            
            div.cgs-object {
                position: relative;
                width: 50%;
                height: 100%;
                
                label {
                    position: absolute;
                    bottom: 0;

                    width:fit-content;
                    height: 35px;
                    width: 300px;
                    font-size: 1rem;
                    font-weight: 700;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                
                div.cgs-input {
                    position: absolute;
                    top:0;
                    width: 30px;
                    height: 30px;

                    span {
                        position: absolute;
                        cursor: pointer;
                        user-select: none;
                        height: 30px;
                        width: 120px;
                        font-size: .8rem;                        

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: transform 0.3s ease-in-out;
                    }

                    input {
                        position: absolute;
                        cursor: pointer;
    
                        width: 30px;
                        height: 30px;

                        padding: 0;
                        overflow: hidden;
                        background-color: #fbfbfb;
    
                        &::before {
                            content: "";
                            position: absolute;
                            z-index: 1;
                            inset-inline-start: 2px;
                            height: 26px;
                            top: 2px;
                            width: 26px;
                        }
                    }
                }
            }
           
            > div:first-child {
                label {
                    right:0;
                    transform: translate(50%, 0);
                }
                div.cgs-input {
                    right:0;

                    input {
                        border-radius: 50% 0 0 50%;
                    }
                    span {
                        right:40px;
                        transform-origin: right center;
                    }
                }
            }

            > div:last-child {
                label {
                    left:0;
                    transform: translate(-50%, 0);
                }                
                div.cgs-input {
                    left:0;

                    input {
                        border-radius: 0 50% 50% 0;
                    }
                    span {
                        left:40px;
                        transform-origin: left center;
                    }
                }

            }
        }
    }
}

section.left, section.right {// Les deux formulaires
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.3s ease-in-out;

    form {
        width:96%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        row-gap: 2rem;

        > div:first-of-type {
            > label {
                display: block;
                font-weight: 700;
                font-size: 1.25rem;
                margin: 1.5rem 0 0 0;

                ~ span {
                    display: block;
                    font-size: .8rem;
                    font-weight: 400;
                    margin: 0 0 1rem 0;
                }
            }            
        }

        button { 
            width:150px;
        }
    }
}

section.left {// Amicale
    form {
        margin: 0 0 2rem 4%;
    }
}

section.right {// Convocation
    form {
        margin: 0 0 2rem 0;
    }
}