form {
    margin-top: 1rem;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    row-gap: 1rem;

    > div {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
       
        &.submit {
            width: 100%;
            flex:none;
        }
    }

    input {
        max-width: 200px;
        flex: none;
    }
}