body.login, body.signup, body.logout, body.confirm, body.password, body.mail {     
    background: none;

    input:not([name='remember']) {
        all:initial;
    }   
    
    * {
        font-family: rhino, sans-serif!important;
    }

    *:not(em) {
        color: white;
    }

    .wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        min-height: 100vh;
        padding: min(1rem,5vh) min(1rem,5vw);
    
        .content-wrapper {
            background: var(--w-color-surface-page);
            border: 3px solid #0000;
            border-radius: .625rem;
            box-shadow: 5px 5px 30px var(--w-color-box-shadow-md);
            float: none;
            height: auto;
            margin-bottom: 15vh;
            max-width: 25.2rem;
            padding: 2.5rem 3rem;
          }
    }
}


body.login #main, body.signup #main, body.logout #main, body.confirm #main, body.reset #main, body.change #main {
    background: radial-gradient(
        100% 300.28% at 115% -20%, 
        var(--cgs-color-tertiary) 0%, 
        var(--cgs-color-secondary) 50%,
        var(--cgs-color-primary) 100%
    );

    border: none;
    overflow: hidden;
    padding: 0 3rem 1.5rem;
    width: 50%;
    max-width: 32rem;
    min-width: 22rem;

    .cgs-content-block:not(.header-bar) {//Bloc de contenu
        margin: 2rem auto;
    }
    
    .header-bar {//header
        position: relative;
        width: calc(100% + 10rem);
        background-image: url(../images/vague.svg);
        background-size: cover;
        background-position: bottom;
        left: -5rem;
        height: 5rem;
        margin: 0 auto 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 0;
            color: var(--w-color-text-label);
            font-size: 1.875rem;
            font-weight: 800;
        }
    }

    .messages {//Messages
        width: calc(100% + 2rem);
        left: -1rem;

        ul li {
            padding: 1em 1.25em;
        }
    }    

    .login-logo, .logout-logo, .confirm-logo {//Logo
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        img {
            width: 70%;
            max-width: 15rem;
        }

        h1 {
            font-size: clamp(2.25em, 4vw, 3em);
            font-weight: 800;
            margin:0 auto;
        }
    }

    h2 {
        font-size: clamp(1.7em, 3vw, 2.2em);
        font-weight: bold;
        text-align: center;
    }
                
    .cgs-form-block.confirm p {            
        text-align: center;
    }

    .cgs-form-block.info {
        p, strong {
            text-align: center;
            font-size: .9rem;
            color: var(--cgs-color-menu-5);
        }
    }

    .cgs-form-block.small p {
        text-align: center;
        font-size: 0.8rem;        
        color: gainsboro;
    }

    .cgs-eye {
        position: absolute;
        cursor: pointer;

        height: 1.125rem;
        width: 1.125rem;
        transform: translateX(-1.125rem);

        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: bottom;
        filter: brightness(0) invert(1);

        &:hover {
            animation: blink 0.82s cubic-bezier(.36,.07,.19,.97) both;
        } 
    }
    .cgs-eye:not(.showpass) {
        background-image: url(../images/show-logo.png);
    }
    .cgs-eye.showpass {
        background-image: url(../images/hide-logo.png);
    }

    button, div.fake {
        display: flex;
        width:10rem;
        margin-inline-start:0;
        height: 2.5em;
        padding: 0 2em;
        border-radius: 2rem;
        background-color: white;
        color: var(--w-color-primary);
        line-height: normal;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: bold;

        &.fake {
            position:absolute;
            z-index: 2;
            cursor: pointer;
        }

        &.button-longrunning-active {
            background-color: var(--w-color-grey-400);
            border-color: var(--w-color-grey-500);
            color:var(--w-color-grey-100);

            em {
                padding-left: 1em;
            }

            svg.icon-spinner {
                display: inline-block;
                position: absolute;
                left: .75em;
                height: 1em;
                padding: 0;
                width: 1em;

                use {
                    color:var(--w-color-grey-100);
                }
            }
        }        
    }
}


#main form.login-form, #main form.logout-form {//Formulaire de connexion et de déconnexion
    max-width: 22.5rem;
    
    label {
        user-select: none;
    }

    .w-field__wrapper {// Bloc "field"
        label {//Labels
            width: fit-content;
            padding: 0;
            color:white;
            position: absolute;

            filter: contrast(40%);
            transform: translate(0rem, .5rem);
            transition: transform .25s ease-in-out, filter .35s linear, border-bottom .35s linear;          

            &.w-field__label {
                font-weight: 100;
                font-size: 100%;
            }

            span {
                display: none;
            }
        }

        .w-field {//Div des inputs
            .w-field__input {
                margin-top: 0;
                border-bottom: 2px solid whitesmoke;
                padding: .25rem 0;

                input:focus, 
                input:focus-visible {
                    outline: none!important; 
                }

                input:not([name='remember']) {
                    width: 100%;                    
                    color:white;
                    font-size: 1.15rem;
                    font-weight: 700;
                }
            }
        }
    }

    .cgs-form-block:not(.password) {
        margin: 0 auto 2rem;
    }

    .cgs-form-block.password {//Bloc mot de passe
        margin: 0 auto .1rem;
    }
       
    .cgs-form-block.reset-password {//Bloc mot de passe oublié
        font-size: 75%;
        font-weight: 300;
    }

    //ANIMATION DES LABELS
    .cgs-form-block.cgs-focus:not(.cgs-input), .cgs-form-block.cgs-input {
        label {
            filter: contrast(100%);
            transform: translate(-.25rem, -1.25rem);
            border-bottom: .5px solid whitesmoke;
        }
    }

    label.remember-me {// Checkbox
        margin-left:0!important;
        width: fit-content;
        font-weight: 100;
        cursor: pointer;
    }

    footer.form-actions {// Bloc submit
        height: 2.5rem;
        display: flex;
        justify-content: center;
    }
}


body.confirm #main, body.reset #main, body.change #main {//Formulaire de confirmation, de déconnexion ou de réinitialisation
    .confirm p {
        font-size: 1em;

        a {
            font-size: 1.1em;
            font-weight: 700;
        }
    }

    form {
        margin: 0 auto 2rem auto;
        width: fit-content;

        label {
            display: block;            
            text-decoration: underline;
            margin-bottom: .25em;
            font-size: .85rem;
        }

        input {
            width: 100%;                    
            color:white;
            font-size: 1.15rem;
            font-weight: 700;
            border-bottom: 2px solid white;
            
            &::placeholder {
                font-size: .8rem;
                color: white;
            }

            &:focus, 
            &:focus-visible {
                outline: none!important; 

                &::placeholder {
                    color: transparent;
                }
            }
        }

        button {
            margin: 2em auto;
            width:fit-content;
        }
    }
}

body.change { 

    form {// Changement de mot de passe uniquement
        width: 100%!important;  
        
        p {
            margin: 1em 0 0 0;
        }
    }

    a {
        cursor: pointer;        
        display: block;        
        margin-bottom: .5rem;

        strong {
            margin-right: .25rem;
        }
    } 

    ul {
        margin-bottom: 1rem;
        padding:0;
        list-style-type:armenian;

        li {
            margin-bottom: .25rem;
            list-style-type: none;
        }
        
        &:not(.errorlist) li::before {
            content: "✔️";
            margin-right: .5rem;
        }
        &.errorlist li::before {
            content: "❌";
            margin-right: .5rem;
        }
    }  
}

section.signup-option, section.logout-option, section.redirect-option, section.reset-option, section.change-option {
    margin: 1.75rem auto 0;
    padding-top: .65rem;
    border-top: 1.5px solid whitesmoke;
    font-size: .8rem;


    p {            
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        column-gap: .2rem;

        span {
            max-width: 100%;
            text-align: center;
            hyphens: auto;
            color: gainsboro;
        }

        span:first-of-type {
            min-width: min-content;
            flex:none;
        }

        span:nth-of-type(2) {
            display: flex;
            overflow: visible;
            transform-origin:bottom ;
            &:hover {
                transform: scale(1.1); 
                z-index: 1;
            }
        }   

        a {
            align-self: center;
            justify-self: center;
            font-weight: 700;
            color: white;
        }
    }
}


section.redirect-option {

    p {
        background-color: whitesmoke;
        border-radius: 10px; /* Bords arrondis pour adoucir le rectangle */
        border: 1px solid #b2d8b2; /* Bordure subtile pour délimiter sans durcir */
    }

    span, a {        
        color:rgb(221, 72, 20)!important;
    }

    //color:hsl(20, 75%, 55%);
}