body.cgs-amicale, body.cgs-ressources, body.cgs-public, body.cgs-events, body.cgs-commissions, body.list.cgs-faq, body.cgs-form {
    div.cgs-content {
        height: fit-content!important;
        min-height: 100vh!important;
    }
} 
main {
    width: 100%!important;
    margin: 0!important;
}

main h1 {
    width: 100%;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0;
    color: var(--cgs-logo-1);
    font-size: calc(3 * var(--font-size));
    font-weight: 800;
}

div.cgs-container.cgs-administration {
    flex-direction: column;
    
    > div {
        display: flex;
        flex-direction: column;
    }
}

div.cgs-container > div.cgs-page {
    width: 100%;
}

body.list div.cgs-page, body.doc div.cgs-page {
    display: flex;
}

body.page div.cgs-page {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;

    > * {
        width: 100%;
    }
}

div.cgs-page > div.cgs-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset.active {// RECHERCHES ACTIVES (TOUJOURS VISIBLE QUAND RECHERCHE)
    position: fixed;

    z-index: 9997;
    margin: 0;
    padding: 0;
    width: var(--container-width);

    display:none; // intranet.js
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: space-around;
    align-items: center;    
    border: none;

    div.active-icon {
        position: absolute;
        top: -1rem;
        transition: none;
    }

    div.active-content {
        width: calc(100% - 7rem);        
        height: 100px;
        background-color:var(--wrapper-color-list);
        display: flex;
        flex-direction: column;

        > p {
            display: block;
            width: 100%;

            text-align: center;
            color: var(--content-color-list);            
            font-weight: 600;
            text-decoration: double;
        }
    
        div.active-fields {
            height: 100%;

            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-evenly;            
            column-gap: var(--nav-icon-margin);

            > div {// #activeCategory, #activeTags, #activeQuery, #activeDate 

                display: inline-flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                row-gap: .5rem;
                column-gap: .25rem;

                &#activeDate {
                    column-gap: 1rem;
                }
                
                > div {
                    display: inline-flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    row-gap: .5rem;
                    
                    p {
                        height: 100%;
                        width: min-content;
                        display: inline-flex;

                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        align-items: center;
                        line-height: cacl(var(--nav-icon-margin) / 2);

                        span {
                            white-space: nowrap;
                            overflow-wrap: normal;
                            font-size: var(--font-size);
                            color: var(--cgs-color-menu-2);
                        }
                        span:first-child {
                            color: var(--content-color-list);
                        }
                        span:last-child {
                            color: var(--cgs-color-menu-2);
                        }
                    }
                }
            }
        }
    }
}

div.cgs-page {// LISTE PRINCIPALE DE LA PAGE

    > div.cgs-list {
        width: 100%;
        position: relative;
        flex:0 1 auto;
        padding-top: 100px;

        display: flex;        

        h2, h3.h2 {
            width: 100%;
            margin: 1rem 0 .5rem 0;
            text-align: center;
            color:var(--cgs-logo-1);
            font-size: calc(var(--font-size) + .5rem);
            font-weight: 800;
        }
        h3:not(.h2) {
            width: 100%;
            margin: 1rem 0 .5rem 0;
            text-align: center;
            color:var(--cgs-logo-3);
            font-size: calc(var(--font-size) + .3rem);
            font-weight: bold;
        }
        h3.h2 {
            margin: .5rem 0 1.5rem 0;
        }

        ul.list-box {// LISTE D'ITEMS 
            display: flex;
            flex-direction: column;
            align-items: center;

            row-gap: .2rem;
            
            ul {
                width: 100%;
                max-width: 100%;                
            }
            
            p.inscription {
                width: calc(100% - 2rem - 2px);

                a {
                    display: inline-flex;
                    min-height: var(--icon-size);
                    min-width: var(--icon-size);
                }
                span {
                    display: inline-block;
                    font-size: calc(var(--icon-size) / 2);
                    svg {
                        position: relative;
                        transform: translateY(25%);
                    }
                }
            }
        }
    }
}

div.cgs-list {// LISTE PRINCIPALE ITEM VISIBLES (AVANT CLIC)

    li.list-item {
        width:100%;
        height: 100%;
        
        > div.list-block {
            position:relative;
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            
            &.cgs-open, &:hover {
                --cgs-theme-light: var(--content-clair);
                
                ~ div.list-content {
                    --cgs-theme-light: var(--content-clair);
                }
            }
    
            h4 {    
                position: relative;
                z-index: 1;
                user-select: none;
                pointer-events: none;

                height: calc(var(--icon-size) * 1.5);
                width: calc(100% - 3 * var(--font-size));
                padding-top: calc(var(--font-size) / 4);
                padding-bottom: calc(var(--font-size) / 4);
                padding-left: calc(var(--font-size) / 2);
                padding-right: calc(var(--font-size) * 2.5);
                margin:0;

                display: flex;
                align-items: center;
                justify-content: flex-start;
                column-gap: .5em;
                
                border: 1px solid transparent;
                border-bottom: 2px solid transparent;

                // overflow: hidden;
                // text-overflow: ellipsis;

                font-size: calc(var(--font-size) + .1rem);
                font-weight: 500;                
                color:var(--cgs-logo-4);

                svg, img {
                    aspect-ratio: 1/1;
                }
            }
    
            a {              
                cursor: pointer;      
                position:absolute;

                height: calc(var(--icon-size) * 1.5);
                width: calc(100% - var(--font-size));
                padding: calc(var(--font-size) / 4) calc(var(--font-size) / 2);
                margin:0;

                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
            
                background-color: var(--cgs-theme-light);
                border: 1px solid var(--cgs-theme-light);
                border-bottom: 2px dotted var(--cgs-theme-light);
                border-radius: .25rem .25rem 0 0;

                // Les hover et les a dont le "title" est : Masquer
                &:hover, &[title="Masquer"] {
                    --cgs-theme-light: var(--content-clair);
                    border: 1px solid var(--vert-fonce);
                    border-bottom: 2px dotted var(--vert-fonce);
                    color: var(--texte-fonce);
                }
    
                &[title="Masquer"] {
                    border-bottom: 2px solid transparent;
                }
            }
        }
    }
}

div.cgs-list {// LISTE PRINCIPALE CONTENU D'UN ITEM (APRES CLIC)

    li.list-item {

        > div.list-content {
            padding: .5rem 1rem;
            width: calc(100% - 2rem);
            background-color: var(--cgs-theme-light);
            border-left: 1px solid var(--vert);
            border-right: 1px solid var(--vert);
            border-bottom: 1px solid var(--vert);
            border-radius: 0 0 .25rem .25rem;

            > div.content-container {
                padding-top: .5rem;  
                width: 100%;
                height: 100%;

                display:flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                row-gap: .25rem;

                &:first-child {
                    border-top: 4px solid var(--vert-fonce);
                }

                div.content-item {
                    width: 100%;
                    height: calc(var(--icon-size) * 1.5);

                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    column-gap: 1rem;

                    a {
                        all: initial;

                        &:hover {
                            h5 {
                                color:var(--cgs-color-menu-5);
                                font-weight: 600;
                            }
                            svg, img {
                                transform: scale(1.25);
                            }
                        }

                        h5 {
                            width: fit-content;
                            margin:0;
    
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;
                            column-gap: .5rem;
                        }

                        svg, img {
                            height: calc(var(--icon-size) * 1.25)!important;
                            width: auto!important;
                            aspect-ratio: 1/1;
                        }
                    }

                    &.view, &.preview {    
                        a {
                            width: 100%;
                            cursor: pointer;

                            display: flex;
                            flex-direction: row;  
                            justify-content: space-between;
                            text-decoration: none;

                        }
                    }

                    &.related {
                        height: calc(var(--icon-size) * 1.5);
                        width: 100%;

                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        column-gap: 1rem;

                        > div {
                            flex:1 1 auto;
                            height: calc(var(--icon-size) * 1.5);

                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                            column-gap: .25rem;

                            &:nth-child(odd):not(:last-child) {
                                justify-content: flex-start;
                            }
                            &:nth-child(odd):last-child {
                                justify-content: space-between;
                            }
                            &:nth-child(even):not(.cgs-tags) {
                                justify-content: flex-end;
                            }
                            &:nth-child(even).cgs-tags {
                                justify-content: flex-start;
                            }
                            &.cgs-tags, .cgs-category {
                                column-gap: .5rem;
                            }

                            h5 {
                                width: fit-content;
                                height: calc(var(--icon-size) * 1.5);
                                margin:0;
                                padding:0;

                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                            }

                            a {
                                height: 100%;
                                width: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    
        div.tags-content div {
            width: calc(100% - 2rem)!important;

            button {
                width: 200px;
                height: 60px;
                
                a {
                    text-decoration: none;
                    font-size: 1.1rem;
                    font-weight: bold;
                    position: absolute;
                    padding-left: 1rem;
                    width: calc(200px - 1rem);
                    height: 60px;
    
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;    
                    column-gap: 1rem;            
                }
            }
        }
    }
}

div.cgs-list {//PREVIEW
    
    li.list-item {

        div.list-preview {        
            cursor:not-allowed;
            position: fixed;
            z-index: 1001;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            background-color: rgba(0, 0, 0, 0.5);

            div.preview-content {
                position: absolute;

                max-width: calc(var(--container-width) - 4 * var(--icon-size));
                max-height: 80%;            
                min-width: calc(var(--container-width) - 4 * var(--icon-size));
                min-height: 80%;

                background-color: var(--wrapper-color-menu);
                color:var(--content-color-menu);

                display: flex;
                justify-content: center;
                align-items: center;

                * {
                    all:unset;
                    height: fit-content;
                    width: fit-content;
                }
            }
        }
    }    
}

.cgs-list > .cgs-swap-wrapper.members {//OUVERTURE FERMETURE LISTE DES MEMBRES
    position: fixed;   
    z-index:9999;   
    top: calc(var(--header-height) + var(--header-padding));
    right: calc((100vw - var(--container-width)) / 2 + .65rem);
    transition : none;

    height: calc(var(--icon-size) + .5em);
    width: calc(var(--icon-size) + .5em);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    
    a {
        cursor: pointer;
        width: 100%;
        padding: .4rem;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.8),2px 2px 8px 2px rgba(0,0,0,.4);

        &:hover ~ p {
            clip-path: inset(-1em -1em -1em -1em);          
        }
    }

    > p {
        position: absolute;
        width:max-content;
        z-index: -1;
        top:-.25em;
        right:100%;
        height: calc(var(--icon-size) + .5em);
        padding: 0 .5em;

        display: flex;
        align-items: center;

        background-color: #fff;
        border: 1px solid #000;
        border-radius: .5em;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.8),2px 2px 8px 2px rgba(0,0,0,.4);
        clip-path: inset(-1em 0 -1em 100%);
        transition: clip-path 0.5s ease-in-out;
    }
}

div.cgs-page section.cgs-members {// ZONE DES MEMBRES
    position: fixed;
    top: calc(var(--header-height) + var(--header-padding));    
    right: calc((100vw - var(--container-width)) / 2 + .5em);
    z-index:9998;
    
    transition: 0.3s ease-out;
    transition: top none;
    transform-origin: top;
    
    width: min(calc(100% - 1.25rem - var(--nav-icon-size)),600px);
    height: calc(var(--container-height) * 0.66);   
    padding: 0 var(--nav-icon-size) 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--texte-tres-clair);
    border: 2px solid var(--texte-clair);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.8),2px 2px 8px 2px rgba(0,0,0,.4);

    overflow-y: scroll;
    overflow-x: hidden;

    // on cache la barre de scrolling pour les navigateurs qui le supportent
    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: thin; 
    -ms-overflow-style: auto;
    scrollbar-color: var(--cgs-color-menu-5) whitesmoke;   

    #action-buttons {// Boutons d'actions (Copie, téléchargement, etc.

        align-self: flex-end;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 1em;
        margin: 2rem 0 0 0;
    
        a, button {
            padding: .25em;
            background-color: whitesmoke;
            border-radius:50%;
            aspect-ratio: 1/1;
        }
    
        img, svg {
            cursor: pointer;    
            &:hover {
                fill: var(--cgs-logo-5)!important;
                * {
                    fill: var(--cgs-logo-5)!important;
                }
            }
        }
    }

    h2 {// Fonctions des membres
        width: 100%;   
        margin: 1rem 0 .25rem 0;
        text-align: center;     
        font-size: calc(var(--header-font-size) + .5em);
    }

    ul {// Liste des membres
        width: 100%;
        max-width: 100%;  
        
        li {
            height: calc(var(--header-font-size) * 3);
            width: calc(100% - 2rem - 2px);           
            margin: .5rem;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            background-color: var(--wrapper-color-menu);
            border: 1px solid var(--wrapper-color-menu);

            &:hover {        
                background-color: var(--content-clair);
                border: 1px solid var(--vert);
                color: var(--texte-fonce);
            }

            a {
                all:initial;
                cursor: pointer;

                height: 100%;
                width: 100%;
                padding:0;
                margin:0;
    
                display:flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                column-gap: .5rem;
    
                overflow: hidden;
                text-overflow: ellipsis;
    
                font-size: calc(var(--header-font-size) + .2em);

                svg, img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    }
} 

.cgs-page > .cgs-swap-wrapper.recherche {//OUVERTURE FERMETURE ZONE DE RECHERCHE
    position: fixed;
    z-index:9999;
    height: calc(var(--icon-size) + .5em);
    width: calc(var(--icon-size) + .5em);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translate(50%);

    > a {
        padding: .4rem;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 5px 0 rgba(0,0,0,.8),2px 2px 8px 2px rgba(0,0,0,.4);
    }
}

div.cgs-page > div.cgs-search {// ZONE DE RECHERCHE
    position: fixed;
    z-index:9998;
    top: calc(var(--header-height) + var(--header-padding));
    left: calc((100vw - var(--container-width)) / 2 + .65rem);

    flex:none;
    width: calc(var(--container-width) - 1.3rem);
    padding: 0;

    transform-origin: left;
    transition: 0.3s ease-in-out;
    overflow: visible;    
    
    > form {
        flex:none;
        width: 100%;
        height: var(--container-height);

        background: var(--wrapper-color-list);
        border: 2px solid var(--texte-clair);
        box-shadow: 0 0 5px 0 rgba(0,0,0,.8),2px 2px 8px 2px rgba(0,0,0,.4);
        
        section.recherche {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            overflow-x: hidden;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }

    section.recherche {
        > p {
            display: block;
            width: 100%;            
            margin: 1rem 0 1.5rem;
            text-align: center;
            text-decoration: underline overline;
            font-size: calc(var(--font-size) + .3rem);
            font-weight: 800;
            color:var(--content-color-list);
        }
    
        fieldset {
            width: 100%;
            flex: 1 1 auto;
    
            padding: .5rem;
            margin: 0;
    
            padding-bottom: 1rem;
            border:none;
    
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;        
    
            row-gap: var(--nav-icon-margin);
            column-gap: var(--nav-icon-margin);
    
            span {
                color:var(--texte-clair);
                font-size: calc(var(--font-size) - .1rem);
            }

            label {
                color:var(--content-color-list);
                font-size: var(--font-size);
            }

            legend {
                width: 100%;
                border-top: 1px dotted var(--content-color-list);

                text-align: left;
                font-weight:bold;
                font-size: calc(var(--font-size) + .2rem);
                color: var(--content-color-list);
            }

            svg {
                &.white {
                    fill:white;
                    * {
                        fill:white;
                    }
                }
            }
    
            &.recherche {
                padding: 1rem 0!important;
    
                div {
                    width: 100%;

                    display: flex;    
                    justify-content:center;
                    align-items: center;
    
                    input {
                        all:initial;
                        height: 3rem;
                        
                        font-size: calc(var(--font-size) + .2rem);
                        font-family: 'rhino';
                        color: var(--wrapper-color-menu);
                        
                        border-bottom: 2px solid var(--wrapper-color-menu);
                    }
                }
            }        
            &.themes {
    
            }
            &.extensions, &.types, &.themes {
    
    
                > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    input { 
                        display: none;
                    }
            
                    label {
                        display: flex;
                        padding: .4rem;
                        transition: none;
    
                        &:hover {
                            transform: scale(1.25);
                        }
                    }
    
                    input:checked ~ label {
                        box-sizing: border-box;
                        border-bottom: 2px solid var(--content-color-list);
                        transform: scale(1.25);
                    }
                }
            }

            &.dates {                
                legend span {
                    display: flex;
                    text-align: left;
                }

                > div {
                    width: 275px;
                    display: flex;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: space-between;
                }

                input {
                    height: 30px;
                }
            }
            &.tags {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                flex-wrap:wrap;
                column-gap: .25rem;
            }
            &.button {                
                display: flex;
                align-items: center;
                justify-content: center;

                border-top: 1px dotted var(--content-color-list);

                button {
                    cursor: pointer;
    
                    width: 8rem;
                    height: 3.25rem;                
                    margin-inline-start: 0;
                    padding: 0 .5rem;
                    border-radius: 2rem;
                    background-color: var(--vert-fonce);
    
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    line-height: normal;
                    font-size: 1rem;
                    font-weight: 700;
                    color: var(--content-color-list);
    
                    &:hover {
                        background-color: var(--vert-clair);
                        color:var(--cgs-color-menu-5)
                    }
                }
            }
        }
    }
}

// div.cgs-page {// LISTE PRINCIPALE DE LA PAGE

//     > div.cgs-list {
//         max-width: calc(100% - var(--searchbox-width)); // 100% si cgs-search est en .cgs-width-none
//         transition: .3s ease-in-out;

//         position: relative;
//         width: 100%;
//         flex:0 1 auto;

//         display: flex;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: flex-start;

//         h2 {
//             width: 100%;
//             text-align: center;
//         }

//         ul.list-box {// LISTE D'ITEMS 
//             width: 100%;
//             display: flex;
//             flex-direction: column;
//             align-items: center;

//             ul {
//                 width: 100%;
//                 max-width: 100%;
//             }

//             h2 {
//                 text-align: center;
//             }
        
//             > h2 {
//                 width: 100%;        
//             }
        
//             h3 {
//                 text-align: left;
//             }
        
//             p {
//                 cursor:inherit;
//                 height: 100%;
//                 flex: 1 1 auto;

//                 display: flex;
//                 align-items: center;
//                 justify-content: space-between;

//                 text-align: left;
//                 font-size: calc(var(--header-font-size) + .3em);
//                 word-wrap: break-word;                
//             }
        
//             li {
//                 width: calc(100% - 2rem - 2px);           
//                 margin: .5rem;
//                 border: 1px solid #000;

//                 display: flex;
//                 flex-direction: row;
//                 justify-content: flex-start;
//                 align-items: center;

//                 &.ressources, &.public {
//                     p{
//                         word-break: break-all;
//                     }   
//                 }

//                 &:not(.administration) {                   
//                     &:hover {
//                         background-color: var(--vert-clair);
//                     }                                    
//                     > a {
//                         cursor: pointer;
//                         width: 100%;
//                         flex: 1 1 auto;
//                         display: flex;
//                         flex-direction: row;                
//                         align-items: center;
//                         column-gap: .5rem;
//                         padding: .5rem .15rem;

//                         &.list-link {
//                             justify-content: flex-start;

//                             p svg {
//                                 margin-right: 5px;
//                             }
//                         }                
//                     }

//                     > div {
//                         width: 100%;
//                         display: flex;
//                         flex-direction: row;
//                         justify-content: flex-start;
//                         align-items: center;
//                         column-gap: 1rem;
//                     }
//                 }

//                 &.administration {
//                     > a {
//                         cursor: pointer;
//                         width: 100%;
//                         height: 100%;
//                         flex: 1 1 auto;
//                         display: flex;
//                         flex-direction: row;                
//                         align-items: center;
//                         column-gap: .5rem;
//                         padding: .5rem .15rem;
    
//                         &.list-link {
//                             justify-content: flex-start;
    
//                             p svg {
//                                 margin-right: 5px;
//                             }
//                         }                
//                     }
//                     > div {
//                         width: 50%;
//                         height: 100%;
//                         flex: 1 1 auto;

//                         display: flex;
//                         flex-direction: row;
//                         flex-wrap: wrap;
//                         justify-content: flex-end;
//                         align-content: center;

//                         a {
//                             padding:0 var(--nav-icon-margin) 0 0;
//                         }
//                     }
//                 }
//             }

//             p.inscription {
//                 width: calc(100% - 2rem - 2px);

//                 a {
//                     display: inline-flex;
//                     min-height: var(--icon-size);
//                     min-width: var(--icon-size);
//                 }
//                 span {
//                     display: inline-block;
//                     font-size: calc(var(--icon-size) / 2);
//                     svg {
//                         position: relative;
//                         transform: translateY(25%);
//                     }
//                 }
//             }

//             div.cgs-tags {
//                 width:30%;
//                 display: flex;
//                 flex-wrap: wrap;
//                 flex-direction: row;
//                 justify-content: flex-end;
//                 align-items: center;        
//                 column-gap: 1rem;
        
//                 a {
//                     width: fit-content;
//                 }
//             }
//         }
//     }
// }

// .cgs-list div.content-item.view {
//     position: relative;
//     &::before {
//         content: "";
//         position: absolute;
//         bottom: -10px;
//         left: 0;
//         width: 100%;
//         height: 4px;
//         background: var(--cgs-color-menu-5);
//         display: block;
//     }
//     &::after {
//         content: "";
//         position: absolute;
//         bottom: -10px;
//         left: 0;
//         width: 100%;
//         height: 4px;
//         background-color: var(--cgs-theme-light);
//         transform: scaleX(1);
//         transform-origin: center;
//         transition: .3s ease-in-out;
//         display: block;
//     }
//     &:hover::after {                            
//         transform: scaleX(0);
//     }
// }
