#DOCKER Python 3.10.12
termcolor==2.4.0
gunicorn==21.2.0
gevent==24.2.1
psycopg2-binary==2.9.9
Django==5.0
django-redis==5.4.0 
django-allauth==0.60.1
django-countries==7.5.1
django-cors-headers==4.2.0
django-weasyprint==2.2.2
dj-rest-auth==5.0.1
wagtail==6.0.1
wagtail-generic-chooser==0.6.1

git+https://github.com/Makhnov/wagtailguide.git#egg=wagtail-guide
git+https://github.com/Makhnov/wagtailgeowidget.git#egg=wagtailgeowidget
git+https://github.com/Makhnov/wagtailmedia.git#egg=wagtailmedia
git+https://github.com/Makhnov/wagtailmenus.git#egg=wagtailmenus
git+https://github.com/Makhnov/wagtailmodeladmin.git#egg=wagtail-modeladmin
git+https://github.com/Makhnov/wagtailquickcreate.git#egg=wagtail-quick-create
git+https://github.com/Makhnov/wagtailpdf#egg=wagtail-pdf-view
git+https://github.com/Makhnov/wagtailjoyous.git#egg=ls.joyous
git+https://github.com/Makhnov/wagtailforms.git#egg=wagtailstreamforms

# Pour le développement web\intranet\settings\dev.py
python-dotenv==1.0.1