{% extends "base.html" %}

{% load wagtailcore_tags menu_tags%}

{% block body_class %}template-homepage{% endblock %}

{% block content %}           
    <div class="container mt-4">
        <h1>{{ page.title }}</h1>
        <div class="my-3">
            {{ page.intro|richtext }}
        </div>
        <form action="{% pageurl page %}" method="POST" class="my-3">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>  
{% endblock %}