{% load wagtailcore_tags %}

{% comment %} Itérer directement sur les FAQs regroupées par catégorie depuis le contexte {% endcomment %}
{% for category, faqs_in_category in faqs.items %}
    {% if faqs_in_category %}
        <ul class="{{ class_type }}-box {{ category.slug }} {{ section }}">            
            <h3 class="thematique h2" id="{{ category.id }}">{{ category.title }}</h3>
            {% for item in faqs_in_category %}
                <li class="{{ class_type }}-item{% if item_type %} {{ item_type }}{% endif %}">
                    {% include "widgets/blocks/item.html" with item_text=True %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}