{% load wagtailcore_tags %}

{% with value as block %}
    <div class="faq-multiple-answers cgs-primary cgs-multiple">
        <div class="choices-intro">
            <!-- Affiche l'introduction des choix si elle existe -->
            INTRO : {{ block.choices_intro|richtext }}
        </div>
        <div class="choices-tabs">
            {% for item in block.choices %}
                <div class="choice-tab" data-target="primary-answer-{{ forloop.counter }}">
                    <!-- Affiche le critère/la condition pour ce choix -->
                    {{ item.choice_item }}
                </div>
            {% endfor %}
        </div>
        <div class="choices-content">
            {% for item in block.choices %}
                <div class="choice-answer cgs-answer" id="primary-answer-{{ forloop.counter }}">
                    {% for inner_block in item.choice_answer %}
                        <!-- Détermine le type de réponse et inclut le template correspondant -->
                        {% if inner_block.block_type == 'single_answer' %}
                            <div class="cgs-single cgs-answer">
                                {% include "widgets/blocks/streamfield.html" with value=inner_block.value %}
                            </div>     
                        {% elif inner_block.block_type == 'multiple_answer' %}
                                {% include "agents/widgets/multiple_secondary_block.html" with value=inner_block.value %}
                        {% elif inner_block.block_type == 'step_answer' %}
                                {% include "agents/widgets/step_secondary_block.html" with value=inner_block.value %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endwith %}
