{% load wagtailcore_tags %}

{% with value as block %}
    {% comment %} CONTENEUR DE LA SECTION {% endcomment %}
    <div class="container faq-multiple-answers primary cgs-multiple">
        {% comment %} CONTENEUR GENERAL {% endcomment %}
        {% if block.reduction %}
            <div class="cgs-choice-container primary reduced">
        {% else %}
            <div class="cgs-choice-container primary">
        {% endif %}  
        
            {% comment %} CONTENEUR DES OPTIONS {% endcomment %}
            {% if block.reduction %}
                <div class="cgs-choice-options primary reduced">
            {% else %}
                <div class="cgs-choice-options primary">
            {% endif %}
                {% comment %} OPTIONS {% endcomment %}
                <ul class="choice-list primary">
                    {% for item in block.choices %}
                        {% if forloop.counter == 1 %}
                            <li class="choice-item cgs-selected primary" data-target="content-{{ forloop.counter }}">
                        {% else %}
                            <li class="choice-item primary" data-target="content-{{ forloop.counter }}">
                        {% endif %}
                            <div class="option primary">                                    
                                {{ item.choice_item }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% comment %} FIN DES OPTIONS {% endcomment %}
            </div>
            {% comment %} FIN DU CONTENEUR DES OPTIONS {% endcomment %}

            {% comment %} CONTENEUR DU CONTENU {% endcomment %}
            {% if block.reduction %}
                <div class="cgs-choice-content primary reduced">
            {% else %}
                <div class="cgs-choice-content primary">
            {% endif %}

            {% comment %} CONTENU {% endcomment %}
            {% for item in block.choices %}            
                {% if forloop.counter == 1 %}
                    <div class="choice-answer cgs-answer primary" id="content-{{ forloop.counter }}">
                {% else %}
                    <div class="choice-answer cgs-answer primary cgs-hidden" id="content-{{ forloop.counter }}">
                {% endif %}  
                        {% for inner_block in item.choice_answer %}
                            {% if inner_block.block_type == 'single_answer' %}
                                <div class="single-container cgs-single cgs-answer secondary">
                                    {% include "widgets/blocks/streamfield.html" with value=inner_block.value %}
                                </div>     
                            {% elif inner_block.block_type == 'multiple_answer' %}
                                    {% include "agents/widgets/multiple_secondary_block.html" with value=inner_block.value %}
                            {% elif inner_block.block_type == 'step_answer' %}
                                    {% include "agents/widgets/step_secondary_block.html" with value=inner_block.value %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                {% comment %} FIN DU CONTENU {% endcomment %}                
            </div>
            {% comment %} FIN DU CONTENEUR DU CONTENU {% endcomment %}


        </div>
        {% comment %} FIN DU CONTENEUR GENERAL {% endcomment %}     
    </div>
    {% comment %} FIN DU CONTENEUR DE LA SECTION {% endcomment %}
{% endwith %}
