{% load wagtailcore_tags %}

{% with value as block %}
    {% comment %} CONTENEUR DE LA SECTION {% endcomment %}
    <div class="container faq-multiple-secondary secondary cgs-multiple">
        {% comment %} CONTENEUR DU BLOC {% endcomment %}
        {% if block.reduction %}
            <div class="cgs-choice-container secondary reduced">
        {% else %}
            <div class="cgs-choice-container secondary">
        {% endif %}      

            {% comment %} CONTENEUR DES OPTIONS {% endcomment %}
            {% if block.reduction %}
                <div class="cgs-choice-options secondary reduced">
            {% else %}
                <div class="cgs-choice-options secondary">
            {% endif %}
                {% comment %} OPTIONS {% endcomment %}
                <ul class="choice-list secondary">
                    {% for item in block.choices %}
                        {% if forloop.counter == 1 %}
                            <li class="choice-item cgs-selected secondary">
                        {% else %}
                            <li class="choice-item primary">
                        {% endif %}
                            <div class="option secondary" data-target="option-{{ forloop.counter }}">                                    
                                {{ item.choice_item }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {% comment %} CONTENEUR DU CONTENU {% endcomment %}
            {% for item in block.choices %}
                {% if forloop.counter == 1 %}
                    {% if block.reduction %}
                        <div class="cgs-choice-content secondary reduced">
                    {% else %}
                        <div class="cgs-choice-content secondary">
                    {% endif %}  
                {% else %}
                    {% if block.reduction %}
                        <div class="cgs-choice-content cgs-hidden secondary reduced">
                    {% else %}
                        <div class="cgs-choice-content cgs-hidden secondary">
                    {% endif %}  
                {% endif %}
              
                {% comment %}CONTENU {% endcomment %}
                <div class="choice-answer cgs-answer tertiary" id="content-{{ forloop.counter }}">
                    {% include "widgets/blocks/streamfield.html" with value=item.choice_answer %}
                </div>
            {% endfor %}
            </div>

        </div>
    </div>
{% endwith %}
