{% load wagtailcore_tags %}

{% with value as block %}
    {% comment %} CONTENEUR DE LA SECTION {% endcomment %}
    <div class="container faq-multiple-answers secondary cgs-multiple">
        {% comment %} CONTENEUR GENERAL {% endcomment %}
        {% if block.reduction %}
            <div class="cgs-choice-container secondary reduced">
        {% else %}
            <div class="cgs-choice-container secondary">
        {% endif %}  
        
            {% comment %} CONTENEUR DES OPTIONS {% endcomment %}
            {% if block.reduction %}
                <div class="cgs-choice-options secondary reduced">
            {% else %}
                <div class="cgs-choice-options secondary">
            {% endif %}
                {% comment %} OPTIONS {% endcomment %}
                <ul class="choice-list secondary">
                    {% for item in block.choices %}
                        {% if forloop.counter == 1 %}
                            <li class="choice-item cgs-selected secondary" data-target="content-{{ forloop.counter }}">
                        {% else %}
                            <li class="choice-item secondary" data-target="content-{{ forloop.counter }}">
                        {% endif %}
                            <div class="option secondary">                                    
                                {{ item.choice_item }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% comment %} FIN DES OPTIONS {% endcomment %}
            </div>
            {% comment %} FIN DU CONTENEUR DES OPTIONS {% endcomment %}

            {% comment %} CONTENEUR DU CONTENU {% endcomment %}
            {% if block.reduction %}
                <div class="cgs-choice-content primary reduced">
            {% else %}
                <div class="cgs-choice-content primary">
            {% endif %}

            {% comment %} CONTENU {% endcomment %}
            {% for item in block.choices %}            
                {% if forloop.counter == 1 %}
                    <div class="choice-answer cgs-answer primary" id="content-{{ forloop.counter }}">
                {% else %}
                    <div class="choice-answer cgs-answer primary cgs-hidden" id="content-{{ forloop.counter }}">
                {% endif %}  
              
                    {% comment %}CONTENU {% endcomment %}
                    <div class="choice-answer cgs-answer tertiary" id="content-{{ forloop.counter }}">
                        {% include "widgets/blocks/streamfield.html" with value=item.choice_answer %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endwith %}
