{% load wagtailcore_tags %}

{% with value as block %}
    {% comment %} CONTENEUR DE LA SECTION {% endcomment %}
    <div class="container faq-step-answers primary cgs-step">
        {% comment %} CONTENEUR DES ETAPES {% endcomment %}
        {% if block.ordonnated %}
            <div class="cgs-step-container primary ordonnated">
                <ol class="step-list primary">   
        {% else %}
            <div class="cgs-step-container primary">
                <ul class="step-list primary">
        {% endif %}
        
            {% comment %} ETAPES {% endcomment %}
            {% for item in block.steps %}
                <li class="step-item primary">
                    <div class="step-name cgs-swap primary">
                        {% if block.ordonnated %}
                            {% include "agents/widgets/ol.html" with item_value=item.step_item item_number=forloop.counter %}
                        {% else %}
                            <p>{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.ul_item %}{{ item.step_item }}</p>
                        {% endif %}
                        <a class="cgs-button cgs-swapable primary" title="Afficher">
                            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more %}
                            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type="cgs-hidden" %}
                        </a>
                    </div>
                    <div class="step-answer cgs-answer primary cgs-swap-hidden">
                        {% for inner_block in item.step_answer %}
                            {% if inner_block.block_type == 'single_answer' %}
                                <div class="single-container cgs-single cgs-answer secondary cgs-streamfield">
                                    {% include "widgets/blocks/streamfield.html" with value=inner_block.value %}
                                </div>     
                            {% elif inner_block.block_type == 'multiple_answer' %}
                                    {% include "agents/widgets/multiple_secondary_block.html" with value=inner_block.value %}
                            {% elif inner_block.block_type == 'step_answer' %}
                                    {% include "agents/widgets/step_secondary_block.html" with value=inner_block.value %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}

        {% if block.ordonnated %}
                </ol>
            </div>                    
        {% else %}
                </ul>
            </div>
        {% endif %}  
    </div>
{% endwith %}
