{% load wagtailcore_tags cgs_tags %}

<ul class="{{ class_type }}-box faq">
    {% for theme in themes %}
            <li class="{{ class_type }}-item faq {% if theme.slug == selected %}cgs-selected{% endif %}">
                <a 
                    href="{% slugurl 'faq' %}?category={{ theme.slug }}"
                    class="{{ class_type }}-link faq" 
                    title="{{ theme.tooltip|default_if_none:'' }}" 
                    alt="{{ theme.title|default_if_none:'' }}"
                >
                {% if theme.logo %}
                    {% include 'widgets/images/logo.html' with intranet_icon=theme.logo %}
                {% endif %}
                </a>
                {% if class_type == "menu" %}
                    {% with count=new|get_field:theme.id %}
                        {% if count %}
                            <new title="theme.title" data-count="{{ count }}">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.star %}
                                <span>{{ count }}</span>
                            </new>
                        {% endif %}
                    {% endwith %}
                    <p>{{ theme.title }}</p>
                {% endif %}
            </li>
    {% endfor %}
    <li class="{{ class_type }}-item faq {% if request.GET.category == "*" %}cgs-selected{% endif %}">
        <a 
        href="{% slugurl 'faq' %}?category=*"
        class="{{ class_type }}-link faq" 
        title="Voir toutes les questions/réponses" 
        alt="Toutes les FAQ"
    >
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.faq_all %}
    </a>
    {% if class_type == "menu" %}
        <new title="Toutes les FAQ" data-count="{{ news }}">
            {% if news != 0 %}            
                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.star %}
                <span>{{ news }}</span>
            {% endif %}
        </new>
        <p>Toutes</p>
    {% endif %}
    </li>    
    {% if index %}    
        <li class="nav-item faq index">
            <a 
                href="{% slugurl 'faq' %}"
                class="nav-link faq" 
                title="Retour à l'index" 
                alt="FAQ Index"
            >
            {% include 'widgets/images/logo.html' with intranet_icon=page.specific.logo class_type="cgs-bright" %}
            </a>
        </li>
    {% endif %}
</ul>
