{% load static %}

{% block extra_css %}
    {% if is_pdf %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/compte_rendu_pdf.min.css' %}">
        <link rel="icon" type="image/png" href="{% static 'images/cgs-logo.ico' %}"/>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/compte_rendu.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/compte_rendu_bureau.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/intranet.min.css' %}">        
        <link rel="stylesheet" type="text/css" href="{% static 'css/variables.min.css' %}">
    {% endif %}
    {% if old %}
        <link rel="stylesheet" type="text/css" href="{% static 'pdfjs/css/viewer.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    {% include "administration/widgets/compte_rendu_page.html" with class_type="bureau" %}
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/intranet.min.js' %}"></script>
    <script type="module" src="{% static 'js/compte_rendu.min.js' %}"></script>
    {% if old %}
        <script type="module" src="{% static 'pdfjs/js/pdf.js' %}"></script>
        <script type="module" src="{% static 'pdfjs/js/viewer.js' %}"></script>
        <script type="module" src="{% static 'pdfjs/js/pdf.worker.js' %}"></script>
    {% endif %}
{% endblock %}