{% extends "widgets/forms/base_form.html" %}

{% load wagtailcore_tags cgs_tags %}

{% block content %}
    <main>
        <div class="cgs-container cgs-administration">
            <div class="cgs-page">  
                {% include "widgets/forms/base.html" with form_id="questionnaire-elus" form_class="administration" %}
            </div>
        </div>
    </main>  
{% endblock %}

{% block footer_mid %}
    {% with class_type="nav" item_type="administration" menu=admin_menu logo_type=True index=True %}
        {% include 'administration/widgets/ul_item.html' %}
    {% endwith %}
{% endblock %}