{{ form.media }}
{% csrf_token %}
{% for hidden in form.hidden_fields %}
    {% if hidden.id_for_label == 'id_origine' %}
        <input 
            type="hidden" 
            name="{{ hidden.name }}" 
            id="{{ hidden.id_for_label }}" 
            {% for attr, value in hidden.field.widget.attrs.items %} 
                {{ attr }}="{{ value }}" 
            {% endfor %} 
            value="{{ page.title }}"
        />
    {% elif hidden.id_for_label == 'id_userid' %}
        <input 
            type="hidden" 
            name="{{ hidden.name }}" 
            id="{{ hidden.id_for_label }}" 
            {% for attr, value in hidden.field.widget.attrs.items %} 
                {{ attr }}="{{ value }}" 
            {% endfor %} 
            value="{{ user.id}}"
        />
    {% else %}
        {{ hidden }}
    {% endif %} 
{% endfor %}
{% for field in form.visible_fields %}
    <div class="field-row">
        {{ field.label_tag }}

        {% if field.id_for_label == 'id_nom' %}
            <input 
                type="text" 
                name="{{ field.name }}" 
                placeholder="{{ user.last_name|default:'Entrez votre nom' }}" 
                id="{{ field.id_for_label }}" 
                {% for attr, value in field.field.widget.attrs.items %} 
                    {{ attr }}="{{ value }}" 
                {% endfor %} 
                value="{{ user.last_name|default:'' }}"
            />
        {% elif field.id_for_label == 'id_prenom' %}
            <input 
                type="text" 
                name="{{ field.name }}" 
                placeholder="{{ user.first_name|default:'Entrez votre Prénom' }}" 
                id="{{ field.id_for_label }}" 
                {% for attr, value in field.field.widget.attrs.items %} 
                    {{ attr }}="{{ value }}" 
                {% endfor %} 
                value="{{ user.first_name|default:'' }}"
            />
        {% elif field.id_for_label == 'id_email' %}
            <input 
                type="email" 
                name="{{ field.name }}" 
                placeholder="{{ user.email|default:'Entrez votre email' }}" 
                id="{{ field.id_for_label }}" 
                {% for attr, value in field.field.widget.attrs.items %} 
                    {{ attr }}="{{ value }}" 
                {% endfor %} 
                value="{{ user.email|default:'' }}"
            />
        {% elif field.id_for_label == 'id_mail' %}
            <input 
                type="email" 
                name="{{ field.name }}" 
                placeholder="{{ user.email|default:'Entrez votre email' }}" 
                id="{{ field.id_for_label }}" 
                {% for attr, value in field.field.widget.attrs.items %} 
                    {{ attr }}="{{ value }}" 
                {% endfor %} 
                value="{{ user.email|default:'' }}"
            />
        {% else %}
            {{ field }}
        {% endif %}   
        {% if field.help_text %}<p class="help-text">{{ field.help_text }}</p>{% endif %}
        {{ field.errors }}
    </div>
{% endfor %}
