{% load wagtailcore_tags %}

{% with table=block.table %}
    <div class="cgs-block table cgs-{{ block.position }}">
        <legend>{{ table.table_caption }}</legend>
        <table
            class="cgs-{{ block.size }}"
            alt="{{ table.table_caption }}"
            title="{{ table.table_caption }}"
            {% if table.table_caption %}data-caption="{{ table.table_caption }}"{% endif %}
            {% if table.table_header_choice %}data-header="{{ table.table_header_choice }}"{% endif %}
            {% if table.mergeCells %}data-merge="{{ table.mergeCells }}"{% endif %}
            {% if table.data|length %}data-rows="{{ table.data|length }}"{% endif %}
            {% if table.data.0|length %}data-cols="{{ table.data.0|length }}"{% endif %}
            {% comment %} {% if table.data %}data-table="{{ table.data }}"{% endif %} {% endcomment %}
        >
            {% for row in table.data %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
{% endwith %}
