{% load wagtailcore_tags cgs_tags %}

{% comment %} PARTIE VISIBLE {% endcomment %}
<div class="list-block {{item_type}} cgs-swap">
    <h4>
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.ul_item %}
        {% if item_type == 'faq' %}
            {% if item.question %}{{ item.question }}{% else %}{{ item.title }}{% endif %}
        {% else %}
            {% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}
        {% endif %}
    </h4>
    <a class="cgs-button cgs-swapable" title="Afficher">
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more class_type="cgs-nofill cgs-standard-icon" %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type="cgs-hidden cgs-standard-icon" %}
    </a>
</div>

{% comment %} CONTENU DEROULABLE {% endcomment %}
<div class="list-content cgs-swap-hidden">
    <div class="content-container">

        {% comment %} LIEN DIRECT VERS LA PAGE CONCERNEE {% endcomment %}
        {% if item_type == 'document' %}
            <div class="content-item view {{ item_type }}">
                <a 
                    href="{% if item.slug %}{% slugurl item.slug %}{% endif %}"
                    class="{{ class_type }}-link {{ item_type }}" 
                    title="{% if item.tooltip %}{{ item.tooltip}}{% elif item.slug %}{{ item.slug}}{% endif %}"
                    alt="{{ item.title|default_if_none:'' }}"
                >
                    <h5>
                        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_download class_type="cgs-nofill cgs-standard-icon" %}
                        Télécharger {{ item.title }}
                    </h5>       
                    {% include 'widgets/images/logo.html' with intranet_icon=item.logo class_type="cgs-zerofill cgs-standard-icon" %}
                </a>
            </div>
        {% else %}
            <div class="content-item view {{ item_type }}">
                <a 
                    href="{% if item.slug %}{% slugurl item.slug %}{% endif %}"
                    class="{{ class_type }}-link {{ item_type }}" 
                    title="{% if item.tooltip %}{{ item.tooltip}}{% elif item.slug %}{{ item.slug}}{% endif %}"
                    alt="{{ item.title|default_if_none:'' }}"
                >
                    <h5>Ouvrir la page</h5>
                    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_generic class_type="cgs-nofill" %}
                </a>
            </div>
        {% endif %}
        {% comment %} PREVISUALISER LA PAGE {% endcomment %}
        <div class="content-item preview {{ item_type }}">         
            <a class="cgs-preview" title="Voir une aperçu de {% if item.tooltip %}{{ item.tooltip}}{% elif item.slug %}{{ item.slug}}{% endif %}" >
                {% if item_type == 'document' %}
                    <h5>Nom(s) :</h5>
                    {% for doc in item.download_documents.all %}
                    {% comment %} {{ doc.title }}{{ doc.document.title }}{{ doc.document.filename }} {% endcomment %}
                        {% if doc.title %}
                            <p>{{ doc.title }}</p>
                        {% elif doc.document.title %}
                            <p>{{ doc.document.title }}</p>
                        {% elif doc.document.filename %}
                            <p>{{ doc.document.filename }}</p>
                        {% else %}
                            <p>Doc inconnu</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h5>Prévisualiser</h5>
                    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.search class_type="cgs-nofill" %}
                {% endif %}
        
            </a>
        </div>
        <div class="content-item related">  

            {% comment %} VERSION PDF OU DOCX D'UNE PAGE DE CONVOCATION, DE COMPTE-RENDU, OU GENERIQUE {% endcomment %}
            {% if item.numeric %}
                {% with document=item.numeric %}
                    <div class="related-content cgs-numeric">
                        <h5>Télécharger le fichier:</h5>
                        <a 
                            download 
                            href="{{ document.document.file.url }}"                                 
                            {% if document.title %}
                                title="{{ document.title }}"
                            {% elif document.document.title %}
                                title="{{ document.document.title }}"
                            {% elif document.document.filename %}
                                title="{{ document.document.filename }}"
                            {% else %}
                                title="Télécharger la pièce jointe"
                            {% endif %}                            
                        >
                            {% with file_info=document.document.filename|get_extension_info %}
                                {% include "widgets/images/files.html" with class_type="cgs-zerofill cgs-big-icon" file_type=file_info.0 file_description=False %}
                            {% endwith %}
                        </a>
                    </div>
                {% endwith %}
            {% endif %}

            {% comment %} PIECE(S)-JOINTE(S) D'UNE PAGE DE CONVOCATION, DE COMPTE-RENDU, OU GENERIQUE {% endcomment %}
            {% if item.attachments %}    
                <div class="related-content cgs-attachments">
                    <h5>Télécharger les pièces-jointes:</h5>
                    {% for piece_jointe in item.attachments %}
                        {% if piece_jointe %}
                            <a 
                                download 
                                href="{{ piece_jointe.document.file.url }}"                                 
                                {% if piece_jointe.title %}
                                    title="{{ piece_jointe.title }}"
                                {% elif piece_jointe.document.title %}
                                    title="{{ piece_jointe.document.title }}"
                                {% elif piece_jointe.document.filename %}
                                    title="{{ piece_jointe.document.filename }}"
                                {% else %}
                                    title="Télécharger la pièce jointe"
                                {% endif %}                            
                            >
                                {% with file_info=piece_jointe.document.filename|get_extension_info %}
                                    {% include "widgets/images/files.html" with class_type="cgs-zerofill cgs-big-icon" file_type=file_info.0 file_description=False %}
                                {% endwith %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            {% comment %} CATEGORIE D'UNE PAGE DE FAQ, THEME D'UNE PAGE DE L'AMICALE, TYPE D'UNE PAGE HOME (Ressources, publiques) {% endcomment %}
                {% if item.category %}
                    <div class="related-content cgs-category">
                        <h5>Catégorie:</h5>
                        <p>{{ item.category }} {% include 'widgets/images/logo.html' with intranet_icon=category.logo class_type="cgs-nofill cgs-mid-icon" %}</p>
                    </div>
                {% endif %}

            {% comment %} TAGS D'UNE PAGE DE FAQ {% endcomment %}
            {% if item.tags %}
                <div class="related-content cgs-tags">
                    <h5>Tags:</h5>
                    <p>
                        {% for tag in item.tags.all %}
                            <a href="{% slugurl 'faq' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% comment %} PREVIEW  {% endcomment %}
<div class="list-preview cgs-hidden">
    {% if item.body and item_text %}
        {% if item.body and item_text %}
            <div class="preview-content">
                {{ item.body|richtext }}
            </div>
        {% elif item_image %}
            <div class="preview-content">                
            </div>
        {% elif item_all %}
            <div class="preview-content">                
            </div>
        {% else %}        
            <div class="preview-content">
                <p>Aucun contenu à afficher</p>
            </div>
        {% endif %}
    {% endif %}
    {% if item.answer and item_text %}
            <div class="preview-content">
                {% if item.answer %}
                    {% if item.answer|length > 0 %}
                        {% with first_block=item.answer.0 %}
                            {% if first_block.block_type == 'single_answer' %}
                                <div class="preview-content">
                                    {% comment %} Vérifie que le premier élément est une réponse simple et affiche les headings et paragraphs qu'il contient. {% endcomment %}
                                    {% for inner_block in first_block.value %}
                                        {% if inner_block.block_type == 'heading' %}
                                            <h6>{{ inner_block.value }}</h6>
                                        {% elif inner_block.block_type == 'paragraph' %}
                                            <p>{{ inner_block.value|richtext }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endif %}
            </div>
    {% endif %}
</div>