{% load wagtailcore_tags cgs_tags %}

{% comment %} PARTIE VISIBLE {% endcomment %}
<div class="list-block {{item_type}} cgs-swap">
    <h4>
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.ul_item %}
        {% if item_type == 'faq' %}
            {% if item.question %}{{ item.question }}{% else %}{{ item.title }}{% endif %}
        {% elif item_type == 'document' %}
            {% if item.title %}{{ item.title }}{% else %}{{ item.heading }}{% endif %}
        {% else %}
            {% if item.heading %}{{ item.heading }}{% else %}{{ item.title }}{% endif %}
        {% endif %}
    </h4>
    <a class="cgs-button cgs-swapable" title="Afficher">
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more class_type="cgs-nofill cgs-standard-icon" %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type="cgs-hidden cgs-standard-icon" %}
    </a>
</div>

{% comment %} CONTENU DEROULABLE {% endcomment %}
<div class="list-content cgs-swap-hidden">
    <div class="content-container">

        {% comment %} 
        #########################################       VIEW      #########################################
        {% endcomment %}

        {% comment %} Téléchargement direct du ou des documents {% endcomment %}
        {% if item_type == 'document' %}
            <div class="content-item view {{ item_type }}">
                <a 
                    href="{% if item.slug %}{% slugurl item.slug %}{% endif %}"
                    class="{{ class_type }}-link {{ item_type }}" 
                    title="{% if item.tooltip %}{{ item.tooltip}}{% elif item.slug %}{{ item.slug}}{% endif %}"
                    alt="{{ item.title|default_if_none:'' }}"
                >
                    <h5>
                        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_download class_type="cgs-nofill cgs-standard-icon" %}
                        Télécharger {% if item.download_documents.all|length > 1 %}l'archive{% else %}le document{% endif %}
                    </h5>       
                    {% include 'widgets/images/logo.html' with intranet_icon=item.logo class_type="cgs-zerofill cgs-standard-icon" %}
                </a>
            </div>
        {% comment %} Lien direct vers la page concernée {% endcomment %}
        {% else %}
            <div class="content-item view {{ item_type }}">
                <a 
                    href="{% if item.slug %}{% slugurl item.slug %}{% endif %}"
                    class="{{ class_type }}-link {{ item_type }}" 
                    title="{% if item.tooltip %}{{ item.tooltip}}{% elif item.slug %}{{ item.slug}}{% endif %}"
                    alt="{{ item.title|default_if_none:'' }}"
                >
                    <h5>Ouvrir la page</h5>
                    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_generic class_type="cgs-nofill" %}
                </a>
            </div>
        {% endif %}

        {% comment %} 
        #########################################  PREVIEW, INFOS #########################################
        {% endcomment %}

        {% comment %} Informations sur les documents {% endcomment %}
        {% if item_type == 'document' %}
            <div class="content-item infos {{ item_type }}">         
                <div class="cgs-infos" title="Contenu du fichier">
                    <h5>
                        {% include 'widgets/images/logo.html' with intranet_icon=page.logo class_type="cgs-nofill cgs-standard-icon" %}
                        {% if item.download_documents.all|length > 1 %}Contenu de l'archive:{% else %}Document:{% endif %}                        
                    </h5>
                    {% for doc in item.download_documents.all %}
                    {% comment %} {{ doc.title }}{{ doc.document.title }}{{ doc.document.filename }} {% endcomment %}
                        {% if doc.title %}
                            <p>{{ forloop.counter }}: {{ doc.title }} - 
                                {% if doc.document.file_size %}
                                    {{ doc.document.file_size|filesizeformat }}
                                {% else %}
                                    N/A
                                {% endif %}
                        {% elif doc.document.title %}
                            <p>{{ forloop.counter }}: {{ doc.document.title }} - 
                                {% if doc.document.file_size %}
                                    {{ doc.document.file_size|filesizeformat }}
                                {% else %}
                                    N/A
                                {% endif %}
                        {% elif doc.document.filename %}
                            <p>{{ forloop.counter }}: {{ doc.document.filename }} - 
                                {% if doc.document.file_size %}
                                    {{ doc.document.file_size|filesizeformat }}
                                {% else %}
                                    N/A
                                {% endif %}
                        {% else %}
                            <p>{{ forloop.counter }}: Doc inconnu - 
                                {% if doc.document.file_size %}
                                    {{ doc.document.file_size|filesizeformat }}
                                {% else %}
                                    N/A
                                {% endif %}
                        {% endif %}
                            </p>
                    {% endfor %}
                </div>
            </div>
        {% comment %} Prévisualisation de la page {% endcomment %}
        {% else %}
            <div class="content-item preview {{ item_type }}">         
                <a class="cgs-preview" title="Voir une aperçu de {% if item.tooltip %}{{ item.tooltip}}{% elif item.slug %}{{ item.slug}}{% endif %}" >
                    <h5>Prévisualiser</h5>
                    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.search class_type="cgs-nofill" %}
                </a>
            </div>
        {% endif %}

        {% comment %} 
        #########################################     RELATED     #########################################
        {% endcomment %}

        {% comment %} Informations sur le contenu d'une page de documents multiples (archive zip) {% endcomment %}
        {% if item.download_documents.all|length > 1 %}
            <div class="content-item related archive">
                {% with docs=item.download_documents.all %}
                    <div class="related-content cgs-archive">
                        <h5>
                            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_download class_type="cgs-nofill cgs-standard-icon" %}
                            Télécharger un seul des {{docs|length}} documents
                        </h5>
                        <div class="archive-content">
                            {% for doc in docs %}
                                {% if doc %}
                                <a 
                                    download 
                                    href="{{ doc.document.file.url }}"                                 
                                    {% if doc.title %}
                                        title="{{ doc.title }}"
                                    {% elif doc.document.title %}
                                        title="{{ doc.document.title }}"
                                    {% elif doc.document.filename %}
                                        title="{{ doc.document.filename }}"
                                    {% else %}
                                        title="Télécharger la pièce jointe"
                                    {% endif %}                            
                                >
                                    <p>{{ forloop.counter }}:</p>
                                    {% with file_info=doc.document.filename|get_extension_info %}
                                        {% include "widgets/images/files.html" with class_type="cgs-zerofill cgs-big-icon" file_type=file_info.0 file_description=False %}
                                    {% endwith %}
                                </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endwith %}
            </div>
        {% comment %} Version PDF ou DOCX d'une page générique, de compte-rendu ou de convocation{% endcomment %}
        {% elif item.numeric %}            
            <div class="content-item related numeric">
                {% with document=item.numeric %}
                    <a 
                        download 
                        href="{{ document.document.file.url }}"                                 
                        {% if document.title %}
                            title="{{ document.title }}"
                        {% elif document.document.title %}
                            title="{{ document.document.title }}"
                        {% elif document.document.filename %}
                            title="{{ document.document.filename }}"
                        {% else %}
                            title="Télécharger la pièce jointe"
                        {% endif %}                            
                    >
                        <h5>Télécharger le fichier:</h5>
                        {% with file_info=document.document.filename|get_extension_info %}
                            {% include "widgets/images/files.html" with class_type="cgs-zerofill cgs-big-icon" file_type=file_info.0 file_description=False %}
                        {% endwith %}
                    </a>
                {% endwith %}
            </div>      
        {% comment %} Pièces-jointes d'une page générique, de convocation ou de compte-rendu {% endcomment %}
        {% elif item.attachments %}
            <div class="content-item related attachments">
                <div class="related-content cgs-attachments">
                    <h5>Télécharger les pièces-jointes:</h5>
                    {% for piece_jointe in item.attachments %}
                        {% if piece_jointe %}
                            <a 
                                download 
                                href="{{ piece_jointe.document.file.url }}"                                 
                                {% if piece_jointe.title %}
                                    title="{{ piece_jointe.title }}"
                                {% elif piece_jointe.document.title %}
                                    title="{{ piece_jointe.document.title }}"
                                {% elif piece_jointe.document.filename %}
                                    title="{{ piece_jointe.document.filename }}"
                                {% else %}
                                    title="Télécharger la pièce jointe"
                                {% endif %}                            
                            >
                                {% with file_info=piece_jointe.document.filename|get_extension_info %}
                                    {% include "widgets/images/files.html" with class_type="cgs-zerofill cgs-big-icon" file_type=file_info.0 file_description=False %}
                                {% endwith %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% comment %} Tags pour les pages de FAQ {% endcomment %}
        {% elif item.tags %}
            <div class="content-item related tags">
                <div class="related-content cgs-tags">
                    <h5>Tags:</h5>
                    <p>
                        {% for tag in item.tags.all %}
                            <a href="{% slugurl 'faq' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endif %}        

    </div>
</div>

{% comment %} 
#############################################     PREVIEW     #############################################
{% endcomment %}
<div class="list-preview cgs-hidden">
    {% if item.body and item_text %}
        {% if item.body and item_text %}
            <div class="preview-content">
                {{ item.body|richtext }}
            </div>
        {% elif item_image %}
            <div class="preview-content">                
            </div>
        {% elif item_all %}
            <div class="preview-content">                
            </div>
        {% else %}        
            <div class="preview-content">
                <p>Aucun contenu à afficher</p>
            </div>
        {% endif %}
    {% endif %}
    {% if item.answer and item_text %}
            <div class="preview-content">
                {% if item.answer %}
                    {% if item.answer|length > 0 %}
                        {% with first_block=item.answer.0 %}
                            {% if first_block.block_type == 'single_answer' %}
                                <div class="preview-content">
                                    {% comment %} Vérifie que le premier élément est une réponse simple et affiche les headings et paragraphs qu'il contient. {% endcomment %}
                                    {% for inner_block in first_block.value %}
                                        {% if inner_block.block_type == 'heading' %}
                                            <h6>{{ inner_block.value }}</h6>
                                        {% elif inner_block.block_type == 'paragraph' %}
                                            <p>{{ inner_block.value|richtext }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endif %}
            </div>
    {% endif %}
</div>

{% comment %} 
{% for doc in item.download_documents.all %}
    <div class="related-content cgs-docs">
        <h5>Télécharger le fichier:</h5>
        
        <a 
            download 
            href="{{ document.document.file.url }}"                                 
            {% if document.title %}
                title="{{ document.title }}"
            {% elif document.document.title %}
                title="{{ document.document.title }}"
            {% elif document.document.filename %}
                title="{{ document.document.filename }}"
            {% else %}
                title="Télécharger la pièce jointe"
            {% endif %}                            
        >
            {% with file_info=document.document.filename|get_extension_info %}
                {% include "widgets/images/files.html" with class_type="cgs-zerofill cgs-big-icon" file_type=file_info.0 file_description=False %}
            {% endwith %}
        </a>
    </div> 
{% endfor %}
{% endcomment %}


{% comment %} Catégories de la FAQ, themes de l'amicale {% endcomment %}
{% comment %} 
{% elif item.category %}                
<div class="content-item related category">
    <div class="related-content cgs-category">
        <h5>Catégorie:</h5>
        <p>{{ item.category }} {% include 'widgets/images/logo.html' with intranet_icon=category.logo class_type="cgs-nofill cgs-mid-icon" %}</p>
    </div>
</div> 
{% endcomment %}