{% extends "widgets/forms/base_form.html" %}
{% load menu_tags wagtailcore_tags cgs_tags %}

{% block content %}
    <main>
        <div class="cgs-container cgs-home">
            <div class="cgs-page contact">  
                {% include "widgets/forms/base.html" with form_id="questionnaire-agents" form_class="agents" %}
            </div>
        </div>
    </main>  
{% endblock %}

{% block footer_mid %}    
    {% with class_type="nav" logo_settings=True %}
        {% flat_menu 'footer' show_menu_heading=False max_levels=1 index=True %}
    {% endwith %}
{% endblock %}