{% load static %}

{% block body_class %}cgs-{{ main_dir }} doc{% endblock %}

{% block extra_css %}
    {% if is_pdf %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/'|add:doc|add:'_pdf.min.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/'|add:doc|add:'.min.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    {% include ""|add:main_dir|add:"/widgets/"|add:doc|add:".html" with class_type=dir %}
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/'|add:doc|add:'.min.js' %}"></script>
    <script type="module" src="{% static 'js/'|add:main_dir|add:'.min.js' %}"></script>
{% endblock %}
