<main class="main-content">          
    <div class="cgs-container cgs-{{ item_type }}">
        {% if is_menu %}
            {% include 'administration/widgets/ul_item.html' with index=False %}
        {% else %}
            <div class="cgs-page">  
                {% include 'widgets/images/swap.html' with wrapper=True cross=True smooth=True horizontal=True swap_class="cgs-small-icon" swap_initial="Masquer" %}
                {% include "widgets/search/filters.html" %}

                <div class="cgs-list">
                    {% if members %}
                        {% include 'widgets/blocks/members.html' with members=members %}
                    {% endif %}

                    {% if children.convocation_pages_by_year or children.compterendu_pages_by_year %}
                        <ul class="{{ class_type }}-box {{ item_type }}">
                            {% for year, convocations in children.convocation_pages_by_year.items %}
                                    <h2>Convocations {{ year }}</h2>
                                    {% for convocation in convocations %}
                                        {% include 'administration/widgets/li_item.html' with item=convocation %}
                                    {% endfor %}
                            {% endfor %}
                        </ul>

                        <ul class="{{ class_type }}-box {{ item_type }}">
                            {% for year, compterendus in children.compterendu_pages_by_year.items %}
                                    <h2>Comptes-Rendus {{ year }}</h2>
                                    {% for compterendu in compterendus %}
                                        {% include 'administration/widgets/li_item.html' with item=compterendu %}
                                    {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</main>    