{% load static i18n wagtailcore_tags cgs_tags %}

<div class="cgs-search cgs-swap-visible" id="searchColumn">    
    <form action="{{ request.path }}" method="get">
        {% include "widgets/header/vague.html" with vertical=True %}
        <fieldset>
            <legend>Recherche</legend>
            <input type="text" name="query" placeholder="Rechercher..." value="{{ search_query }}">
        </fieldset>

        <fieldset>
            <legend>Dates</legend>
            <input type="date" name="start_date" value="{{ start_date }}">
            <input type="date" name="end_date" value="{{ end_date }}">
        </fieldset>
        
        <fieldset>
            <legend>Type</legend>
            <label>
                <input type="radio" name="type" value="all" {% if not article_type or article_type == "all" %}checked{% endif %}>
                Tout
            </label>
            <label>
                <input type="radio" name="type" value="sorties" {% if article_type == "sorties" %}checked{% endif %}>
                Prochaines sorties
            </label>
            <label>
                <input type="radio" name="type" value="news" {% if article_type == "news" %}checked{% endif %}>
                Nouvelles du Cagire
            </label>
        </fieldset>
        
        <button type="submit">Rechercher</button>
    </form>                        
</div>