{% extends "amicale/amicale_base.html" %}
{% load cgs_tags restriction_tags wagtailcore_tags %}

{% block content %}
    <main class="main-content">
        <div class="cgs-container cgs-amicale">
            {% if is_root %}
                {% amicale_themes class_type="menu" %}
            {% else %}
                <div class="cgs-page">         
                    {% include 'widgets/images/swap.html' with wrapper=True search=True smooth=True horizontal=True wrap_class="recherche" swap_class="cgs-fixed-icon" swap_initial="Afficher" %}
                    {% include "widgets/search/filters.html" %}
                    
                    <div class="cgs-list {{ section }}">
                        {% if members %}
                            {% include 'widgets/blocks/members.html' with members=members %}
                        {% endif %}
                        {% with class_type="list" %}
                            {% if amicale_news %}
                                <ul class="{{ class_type }}-box amicale">
                                    <h3 class="h2">Nouvelles du Cagire</h3>
                                    {% for item in amicale_news %}
                                        <li class="{{ class_type }}-item{% if item_type %} {{ item_type }}{% endif %}"> 
                                            {% include "widgets/blocks/item.html" with item_type="news" %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if amicale_sorties %}
                                <ul class="{{ class_type }}-box amicale">
                                    <h3 class="h2">Prochaines sorties</h3>
                                    {% if not ami %}
                                        <p class="inscription">
                                            <span>
                                                Vous n'êtes pas membre de l'amicale, vous pouvez voir les sorties proposées mais pas y participer. Si vous souhaitez vous inscrire remplissez le formulaire :
                                                <a 
                                                    href="{% slugurl 'inscription' %}" 
                                                    class="{{ class_type }}-link amicale" 
                                                    title="Inscrivez-vous à l'amicale" 
                                                    alt="Inscription à l'amicale"
                                                >
                                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.inscription class_type="cgs-standard-icon" %}
                                                </a>
                                            </span>
                                        </p>
                                    {% endif %}
                                    {% for item in amicale_sorties %}
                                        <li class="{{ class_type }}-item{% if item_type %} {{ item_type }}{% endif %}">
                                            {% include "widgets/blocks/item.html" with item_type="sorties" %}
                                        </li>                                        
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if amicale_divers %}
                                <ul class="{{ class_type }}-box amicale">
                                    <h3 class="h2">Autres</h3>
                                    {% for item in amicale_divers %}
                                        <li class="{{ class_type }}-item{% if item_type %} {{ item_type }}{% endif %}">
                                            {% include "widgets/blocks/item.html" with item_type="divers" %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block footer_left %}
    {% amicale_quickbar %}
{% endblock %}