{% extends "amicale/amicale_base.html" %}
{% load cgs_tags restriction_tags wagtailcore_tags %}

{% block content %}
    <main class="main-content">
        <div class="cgs-container cgs-amicale">
            {% if is_root %}
                {% amicale_themes class_type="menu" %}
            {% else %}
                <div class="cgs-page">         
                    {% include 'widgets/images/swap.html' with wrapper=True cross=True smooth=True horizontal=True swap_class="cgs-small-icon" swap_initial="Masquer" %}
                    {% include "widgets/search/filters.html" %}
                    
                    <div class="cgs-list">
                        {% if members %}
                            {% include 'widgets/blocks/members.html' with members=members %}
                        {% endif %}
                        {% with class_type="list" %}
                            {% if amicale_news %}
                                <ul class="{{ class_type }}-box amicale">
                                    <h2>Nouvelles du Cagire</h2>
                                    {% for item in amicale_news %}
                                        {% include "amicale/widgets/li_item.html" with item_type="news" %}
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            {% if amicale_sorties %}
                                <ul class="{{ class_type }}-box amicale">
                                    <h2>Prochaines sorties</h2>
                                    {% for item in amicale_sorties %}
                                        {% include "amicale/widgets/li_item.html" with item_type="sorties" %}
                                    {% endfor %}
                                    {% if not ami %}
                                        <p class="inscription">
                                            <span>
                                                Vous n'êtes pas membre de l'amicale, vous pouvez voir les sorties proposées mais pas y participer. Si vous souhaitez vous inscrire remplissez le formulaire :
                                                <a 
                                                    href="{% slugurl 'inscription' %}" 
                                                    class="{{ class_type }}-link amicale" 
                                                    title="Inscrivez-vous à l'amicale" 
                                                    alt="Inscription à l'amicale"
                                                >
                                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.inscription class_type="cgs-mid-icon" %}
                                                </a>
                                            </span>
                                        </p>
                                    {% endif %}
                                </ul>
                            {% endif %}

                            {% if amicale_divers %}
                                <ul class="{{ class_type }}-box amicale">
                                    <h2>Autres</h2>
                                    {% for item in amicale_divers %}
                                        {% include "amicale/widgets/li_item.html" with item_type="divers" %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block quickbar %}
    {% amicale_quickbar %}
{% endblock %}