{% load wagtailimages_tags %}

{% if block.value.docx_document %}
    <h2>{{ block.value.docx_document }}</h2>  
    {% for item in block.value.docx_content %}
        {% if item.block_type == 'heading' %}
            <{{ item.value.heading_level }} class="cgs-{{ item.value.position }}">
                {{ item.value.heading }}
            </{{ item.value.heading_level }}>
        {% elif item.block_type == 'paragraph' %}
            <div class="cgs-{{ item.value.position }}">
                <p>{{ item.value.paragraph }}</p>
            </div>
        {% elif item.block_type == 'image' %}
            <div class="cgs-{{ item.value.position }}">
                {% image item.value.image original as img %}
                <img src="{{ img.url }}" alt="{{ img.title }}" class="cgs-expandable cgs-{{ item.value.size }}"/>
            </div>
        {% elif item.block_type == 'table' %}
            {% with table=item.value.table %}
                <div class="cgs-block table cgs-{{ item.value.position }}">
                    <table 
                        {% if table.table_caption %}data-caption="{{ table.table_caption }}"{% endif %}
                        {% if table.table_header_choice %}data-header="{{ table.table_header_choice }}"{% endif %}
                        {% if table.mergeCells %}data-merge="{{ table.mergeCells }}"{% endif %}
                        {% if table.data|length %}data-rows="{{ table.data|length }}"{% endif %}
                        {% if table.data.0|length %}data-cols="{{ table.data.0|length }}"{% endif %}
                    >
                        {% for row in table.data %}
                        <tr>
                            {% for cell in row %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endwith %}
        {% endif %}
    {% endfor %}    
{% endif %}