{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags static %}

{% block extra_css %}
    {% if is_pdf %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/convocation_pdf.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/convocation_conference_pdf.min.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/convocation.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/convocation_conference.min.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    {% include "administration/widgets/convocation_page.html" with class_type="conference" %}
{% endblock %}