<cgs-search>
    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.search class_type="cgs-nofill" %}
    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.zoom_out class_type="cgs-nofill cgs-hidden" %}
    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.zoom_in class_type="cgs-nofill cgs-hidden" %}
    <form action="{{ request.path }}" method="get">
        <input type="text" name="query" placeholder="Rechercher..." value="{% if search_query %}{{ search_query }}{% endif %}">
        <input type="hidden" name="start_date" value="{% if start_date %}{{ start_date }}{% endif %}">
        <input type="hidden" name="end_date" value="{% if end_date %}{{ end_date }}{% endif %}">         
    </form>
</cgs-search>
