{% load wagtailcore_tags cgs_tags %}

<cgs-search>
	{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.search class_type="cgs-nofill" %}
	{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.zoom_out class_type="cgs-nofill cgs-hidden" %}
	{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.zoom_in class_type="cgs-nofill cgs-hidden" %}
	<form id="search-form" action="{% pageurl page %}" method="get">
		<input type="text" name="query" placeholder="Rechercher">
		<input type="hidden" name="category" value="{{ request.GET.category }}">
		{% for tag in request.GET|getlist:"tag" %}
			<input type="hidden" name="tag" value="{{ tag }}">
		{% endfor %}
	</form>
</cgs-search>