{% load static i18n wagtailcore_tags cgs_tags %}

<div class="cgs-search cgs-swap-visible" id="searchColumn">
    <form id="cgs-search-form" action="{% pageurl page %}" method="get"> 
        {% include "widgets/header/vague.html" with vertical=True %}
        <section class="container de recherche">

            <fieldset class="active">
                <legend>Filtres actifs :</legend>
                <div id="activeQuery"></div>
                {% for field in fields %}
                    {% if field == "category" %}
                        <div id="activeCategory" data-nom="Catégorie" data-name="category"></div>
                    {% elif field == "type" %}
                        {% if section == "administration" or section == "home" %}
                            <div id="activeCategory" data-nom="Document" data-name="type"></div>
                        {% elif section == "amicale" %}
                            <div id="activeCategory" data-nom="Section" data-name="type"></div>
                        {% endif %}
                    {% elif field == "tags" %}
                        <div id="activeTags"></div>
                    {% elif field == "date" %}
                        <div id="activeDate"></div>
                    {% elif field == "extension" %}
                        <div id="activeExtension"></div>                    
                    {% endif %}
                {% endfor %}
            </fieldset>

            <fieldset>
                <legend>Recherche</legend>
                <input type="text" name="query" placeholder="Rechercher..." value="{% if request.GET.query %}{{ request.GET.query }}{% endif %}">
            </fieldset>
            
            {% for field in fields %}
                {% if field == "tags" %}
                    <fieldset class="tags">
                        <legend>Filtrer par tag:</legend>
                        {% for tag in popular_tags %}
                            <button type="button" class="btn btn-outline-primary tag-button" data-tag="{{ tag.tag.name }}">{{ tag.tag.name }}</button>
                        {% endfor %}
                    </fieldset>    
                {% elif field == "category" %}
                    <fieldset class="themes">
                        <legend>Filtrer par catégorie:</legend>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" value="*" id="allCategories" {% if not request.GET.category or request.GET.category == "*" %}checked{% endif %}>
                            <label class="form-check-label" for="allCategories">
                                Toutes
                            </label>
                        </div>
                        {% for category in categories %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" value="{{ category.slug }}" id="category{{ category.id }}" {% if request.GET.category == category.slug %}checked{% endif %}>
                            <label class="form-check-label" for="category{{ category.id }}">
                                {{ category.title }}
                            </label>
                        </div>
                        {% endfor %}
                    </fieldset> 
                {% elif field == "type" %}
                    <fieldset class="types">
                        <legend>Filtrer par type:</legend>
                        {% if section == "administration" %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="*" id="allTypes" {% if not request.GET.type or request.GET.type == "*" %}checked{% endif %}>
                                <label class="form-check" for="allTypes">
                                    Tous les documents
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="convocations" id="convocations" {% if request.GET.type == "convocations" %}checked{% endif %}>
                                <label class="form-check" for="convocations">
                                    Convocations
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="comptes_rendus" id="comptesRendus" {% if request.GET.type == "comptes_rendus" %}checked{% endif %}>
                                <label class="form-check" for="comptesRendus">
                                    Comptes rendus
                                </label>
                            </div>
                        {% elif section == "amicale" %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="*" id="allTypes" {% if not request.GET.type or request.GET.type == "*" %}checked{% endif %}>
                                <label class="form-check" for="allTypes">
                                    Toutes les actualités
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="sorties" id="sorties" {% if request.GET.type == "sorties" %}checked{% endif %}>
                                <label class="form-check" for="sorties">
                                    Prochaines sorties
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check" type="radio" name="type" value="news" id="news" {% if request.GET.type == "news" %}checked{% endif %}>
                                <label class="form-check" for="news">
                                    Nouvelles du Cagire
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check" type="radio" name="type" value="autres" id="autres" {% if request.GET.type == "autres" %}checked{% endif %}>
                                <label class="form-check" for="autres">
                                    Informations diverses
                                </label>
                            </div>
                        {% elif section == "home" %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="*" id="allTypes" {% if not request.GET.type or request.GET.type == "*" %}checked{% endif %}>
                                <label class="form-check" for="allTypes">
                                    Voir tout
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="generic" id="generic" {% if request.GET.type == "generic" %}checked{% endif %}>
                                <label class="form-check" for="generic">
                                    Pages diverses
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="download" id="download" {% if request.GET.type == "download" %}checked{% endif %}>
                                <label class="form-check" for="download">
                                    Documents
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="type" value="form" id="form" {% if request.GET.type == "form" %}checked{% endif %}>
                                <label class="form-check" for="form">
                                    Formulaires
                                </label>
                            </div>
                        {% endif %}                                                
                    </fieldset>
                {% elif field == "extension" %}
                    <fieldset class="extensions">
                        <legend>Filtrer par extension:</legend>
                        <div class="form-check extensions">
                            <input class="form-check-input" type="radio" name="extension" value="*" id="allExtensions" {% if not request.GET.extension or request.GET.extension == "*" %}checked{% endif %}>
                            <label class="form-check" for="allExtensions" title="Tous types de fichiers">
                                Toutes les extensions
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="extension" value="doc_file" id="doc_file" {% if request.GET.extension == "doc_file" %}checked{% endif %}>
                            <label class="form-check" for="doc_file" title="Fichiers documents (word, openoffice, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.doc_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="calc_file" id="calc_file" {% if request.GET.extension == "calc_file" %}checked{% endif %}>
                            <label class="form-check" for="calc_file" title="Fichiers tableur (excel, openoffice, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.calc_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="pdf_file" id="pdf_file" {% if request.GET.extension == "pdf_file" %}checked{% endif %}>
                            <label class="form-check" for="pdf_file" title="Fichiers pdf">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.pdf_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="slide_file" id="slide_file" {% if request.GET.extension == "slide_file" %}checked{% endif %}>
                            <label class="form-check" for="slide_file" title="Fichiers présentation (powerpoint, openoffice, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.slide_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="image_file" id="image_file" {% if request.GET.extension == "image_file" %}checked{% endif %}>
                            <label class="form-check" for="image_file" title="Fichiers image (jpg, png, gif, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.image_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="video_file" id="video_file" {% if request.GET.extension == "video_file" %}checked{% endif %}>
                            <label class="form-check" for="video_file" title="Fichiers vidéo (mp4, avi, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.video_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="audio_file" id="audio_file" {% if request.GET.extension == "audio_file" %}checked{% endif %}>
                            <label class="form-check" for="audio_file" title="Fichiers audio (mp3, wav, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.audio_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="archive_file" id="archive_file" {% if request.GET.extension == "archive_file" %}checked{% endif %}>
                            <label class="form-check" for="archive_file" title="Fichiers archive (zip, rar, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.archive_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="code_file" id="code_file" {% if request.GET.extension == "code_file" %}checked{% endif %}>
                            <label class="form-check" for="code_file" title="Fichiers code (html, css, js, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.code_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="system_file" id="system_file" {% if request.GET.extension == "system_file" %}checked{% endif %}>
                            <label class="form-check" for="system_file" title="Fichiers système (exe, dll, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.system_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="ebook_file" id="ebook_file" {% if request.GET.extension == "ebook_file" %}checked{% endif %}>
                            <label class="form-check" for="ebook_file" title="Fichiers ebook (epub, mobi, etc.)">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.ebook_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check" type="radio" name="extension" value="unknown_file" id="unknown_file" {% if request.GET.extension == "unknown_file" %}checked{% endif %}>
                            <label class="form-check" for="unknown_file" title="Extensions inconnues">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.unknown_file class_type="cgs-zerofill cgs-big-icon" %}
                            </label>
                        </div>
                    </fieldset>
                {% elif field == "date" %}
                    <fieldset class="dates">
                        <legend>Filtrer par date:</legend>
                        <input type="date" name="start_date" value="{% if request.GET.start_date %}{{ request.GET.start_date }}{% endif %}">
                        <input type="date" name="end_date" value="{% if request.GET.end_date %}{{ request.GET.end_date }}{% endif %}">
                    </fieldset>
                {% endif %}
            {% endfor %}
            <fieldset class="button">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </fieldset>

        </section>
    </form>
</div>