{% load static i18n wagtailcore_tags cgs_tags %}

{% block extra_css %}
{% endblock extra_css %}

{% if request.GET %}
    <div class="cgs-search cgs-swap-visible" id="searchColumn">
{% else %}
    <div class="cgs-search cgs-swap-hidden" id="searchColumn">
{% endif %}
    <form id="cgs-search-form" action="{% pageurl page %}" method="get"> 
        {% include "widgets/header/vague.html" with vertical=True %}
        <section class="container de recherche">

            <fieldset class="active">
                <legend>Filtres actifs :</legend>
                {% include "widgets/search/fieldset/active.html" %}
            </fieldset>

            <fieldset class="recherche">
                {% include "widgets/search/fieldset/recherche.html" %}
            </fieldset>
            
            {% for field in fields %}
                {% if field == "tags" %}
                    <fieldset class="tags">
                        <legend>Filtrer par tag:</legend>
                        {% include "widgets/search/fieldset/tags.html" %}
                    </fieldset>    
                {% elif field == "category" %}
                    <fieldset class="themes">
                        <legend>Filtrer par catégorie:</legend>
                        {% include "widgets/search/fieldset/category.html" %}
                    </fieldset> 
                {% elif field == "type" %}
                    <fieldset class="types">
                        <legend>Filtrer par type:</legend>
                        {% include "widgets/search/fieldset/types.html" %}              
                    </fieldset>
                {% elif field == "extension" %}
                    <fieldset class="extensions">
                        <legend>Filtrer par extension:</legend>
                        {% include "widgets/search/fieldset/extensions.html" %}
                    </fieldset>
                {% elif field == "date" %}
                    <fieldset class="dates">
                        <legend>Filtrer par date:</legend>
                        {% include "widgets/search/fieldset/dates.html" %}
                    </fieldset>
                {% endif %}
            {% endfor %}
            <fieldset class="button">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </fieldset>

        </section>
    </form>
</div>

{% block extra_js %}
{% endblock extra_js %}