{% load static i18n wagtailcore_tags cgs_tags %}

<fieldset class="active">    
    {% include 'widgets/images/swap.html' with wrapper=True chevron=True smooth=True horizontal=False wrap_class="active-icon" swap_class="cgs-standard-icon" swap_initial="Masquer" %}
    {% include "widgets/search/fieldset/active.html" %}
</fieldset>

<div class="cgs-search cgs-swap-hidden" id="searchColumn">
    <form id="cgs-search-form" action="{% pageurl page %}" method="get"> 
        <section class="container de recherche">
            <p>Sélectionnez un ou plusieurs filtres</p>
            <fieldset class="recherche">
                <legend>Recherche par mot-clef:</legend>
                {% include "widgets/search/fieldset/recherche.html" %}
            </fieldset>
            
            {% for field in fields %}
                {% if field == "tags" %}
                    <fieldset class="tags">
                        <legend>Filtrer par tag:</legend>
                        {% include "widgets/search/fieldset/tags.html" %}
                    </fieldset>    
                {% elif field == "category" %}
                    <fieldset class="themes">
                        <legend>Filtrer par catégorie:</legend>
                        {% include "widgets/search/fieldset/category.html" %}
                    </fieldset> 
                {% elif field == "type" %}
                    <fieldset class="types">
                        <legend>Filtrer par type:</legend>
                        {% include "widgets/search/fieldset/types.html" %}              
                    </fieldset>
                {% elif field == "extension" %}
                    <fieldset class="extensions">
                        <legend>Filtrer par extension:</legend>
                        {% include "widgets/search/fieldset/extensions.html" %}
                    </fieldset>
                {% elif field == "date" %}
                    <fieldset class="dates">
                        <legend>
                            Filtrer par date:
                            <span>Vous pouvez n'entrer qu'une seule date</span>
                        </legend>
                        {% include "widgets/search/fieldset/dates.html" %}
                    </fieldset>
                {% endif %}
            {% endfor %}
            <fieldset class="button">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </fieldset>

        </section>
    </form>
</div>