{% load static wagtailcore_tags wagtailimages_tags %}

<li class="{{ class_type }}-item{% if item_type %} {{ item_type }}{% elif item.slug %} {{ item.slug|slice:"0:6" }}{% endif %}">
    <a 
        href="{% if url %}{{url}}{% endif %}"
        class="{{ class_type }}-link {{ item_type }}" 
        title="{{theme.title}} - {{ name }}"
        alt="Lien vers {{theme.title}} - {{ name }}"
    >
    {% if theme.logo %}                               
        {% include 'widgets/images/logo.html' with intranet_icon=theme.logo class_type="quickbar-icon" %}
    {% elif item_type == 'amicale' %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.amicale_sorties class_type="quickbar-icon" %}
    {% elif item_type == 'public' or item_type == 'ressources' %}
        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_form class_type="quickbar-icon" %}
    {% endif %}
    </a>        
</li>
