{% extends "agents/faq_base.html" %}
{% load static i18n wagtailcore_tags menu_tags cgs_tags %}

{% block content %}
    <main class="main-content">
        <div class="cgs-container cgs-faq">    
            {% if is_root %}   
                {% agents_themes class_type="menu" %}
            {% else %}
                <div class="cgs-page {{ section }}">
                    {% include 'widgets/images/swap.html' with wrapper=True search=True smooth=True horizontal=True wrap_class="recherche" swap_class="cgs-fixed-icon" swap_initial="Afficher" %}
                    {% include "widgets/search/filters.html" %}
                    <div class="cgs-list {{ section }}">
                        {% include "agents/widgets/faq_list.html" with class_type="list" item_type="faq" %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block footer_left %}
    {% agents_quickbar %}
{% endblock %}