{% extends "agents/faq_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}cgs-faq item{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="cgs-container cgs-faq">
            <div class="cgs-page">                
                {% comment %} Affiche le titre de la page (La question dans le CMS) {% endcomment %}
                <div class="faq-question">
                    <h1>{{ page.question }}</h1>
                </div>
                
                {% comment %} Affiche la catégorie de la FAQ, si elle existe {% endcomment %}
                {% if page.category %}
                    <div class="faq-category">
                        Catégorie: {{ page.category }}
                    </div>
                {% endif %}
                
                {% comment %} Affiche la(es) réponse(s) de la FAQ {% endcomment %}
                <div class="faq-answers">
                    {% for block in page.answer %}                    
                        {% if block.block_type == 'single_answer' %}
                            <div class="single-container cgs-single cgs-answer primary cgs-streamfield">
                                {% include "widgets/blocks/streamfield.html" with value=block.value %}
                            </div>                        
                        {% elif block.block_type == 'multiple_answer' %}
                            {% include "agents/widgets/multiple_answer_block.html" with value=block.value %}
                        {% elif block.block_type == 'step_answer' %}
                            {% include "agents/widgets/step_answer_block.html" with value=block.value %}
                        {% endif %}
                    {% endfor %}
                </div>
                
                {% comment %} Affiche les FAQ liées, si elles existent {% endcomment %}
                {% if page.related %}
                    <div class="faq-related-list">                        
                        <div class="faq-related cgs-swap">
                            <h2>{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.categories %}Thèmes similaires</h2>
                            <a class="cgs-button cgs-swapable" title="Afficher">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more %}
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type="cgs-hidden" %}
                            </a>
                        </div>                            
                        <div class="related-content cgs-swap-hidden">
                            <div>
                                {% for block in page.related %}
                                    <div><p>{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.categories %}<a href="{{ block.value.url }}">{{ block.value.question }}</a></p></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                {% comment %} Affiche les textes de loi liés, si ils existent {% endcomment %}
                {% if page.law_texts %}
                    <div class="faq-law-list">                        
                        <div class="faq-law cgs-swap">
                            <h2>{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.law_text %}Textes de loi</h2>
                            <a class="cgs-button cgs-swapable" title="Afficher">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more %}
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type="cgs-hidden" %}
                            </a>
                        </div>                            
                        <div class="law-content cgs-swap-hidden">
                            <div>
                                {% for block in page.law_texts %}
                                    <div><p>{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.law_text %}<a href="{{ block.value.text_link }}" target="_blank">{{ block.value.text_name }}</a></p></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                {% comment %} Affiche les tags liés à la FAQ, si ils existent {% endcomment %}
                {% if page.tags.all %}
                    <div class="faq-tags-list">
                        <div class="faq-tags cgs-swap">
                            <h2>{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.tags %}Tags</h2>
                            <a class="cgs-button cgs-swapable" title="Afficher">
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.more %}
                                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.less class_type="cgs-hidden" %}
                            </a>
                        </div>
                        <div class="tags-content cgs-swap-hidden">
                            <div class="button-block cgs-start cgs-darkgreen">
                                {% for tag in page.tags.all %}
                                    <button type="button" class="cgs-block button">
                                        <a href="{% slugurl 'faq' %}?tag={{ tag.slug }}">{% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.tags %}{{ tag.name }}</a>
                                    </button>    
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </main> 
{% endblock %}