{% extends "agents/faq_base.html" %}
{% load static i18n wagtailcore_tags menu_tags cgs_tags %}

{% block content %}
    <main class="main-content">
        <div class="cgs-container cgs-faq">    
            {% if is_root %}   
                {% agents_themes class_type="menu" %}
            {% else %}
                <div class="cgs-page">
                    {% include 'widgets/images/swap.html' with wrapper=True filter=True smooth=True horizontal=True wrap_class="recherche" swap_class="cgs-standard-icon" swap_initial="Masquer" %}
                    {% include "widgets/search/filters.html" %}
                    <div class="cgs-list">
                        {% include "agents/widgets/faq_list.html" with faqs=faqs %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block footer_left %}
  {% include 'widgets/search/query.html' %}
{% endblock %}

{% block quickbar %}
    {% agents_quickbar %}
{% endblock %}