{% extends "base.html" %}
{% load static wagtailcore_tags menu_tags cgs_tags %}

{% block body_class %}cgs-faq {% if is_root %}menu{% else %}list{% endif %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/agents.min.css' %}">
{% endblock extra_css %}

{% block extra_js %}
  <script type="module" src="{% static 'js/agents.min.js' %}"></script>
{% endblock %}

{% block footer_mid %}
  {% if is_root %}   
	  {% agents_themes class_type="nav" index=False %}
  {% else %}
  	{% agents_themes class_type="nav" index=True %}
  {% endif %}
{% endblock %}