{% extends "agents/faq_base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}cgs-faq item{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="cgs-container cgs-faq">
            <div class="cgs-page">                
                {% comment %} Affiche le titre de la page (La question dans le CMS) {% endcomment %}
                <div class="faq-question">
                    <h1>{{ page.question }}</h1>
                </div>
                
                {% comment %} Affiche la catégorie de la FAQ, si elle existe {% endcomment %}
                {% if page.category %}
                    <div class="faq-category">
                        Catégorie: {{ page.category }}
                    </div>
                {% endif %}
                
                {% comment %} Affiche la(es) réponse(s) de la FAQ {% endcomment %}
                <div class="faq-answers">
                    {% for block in page.answer %}
                        {% if block.block_type == 'single_answer' %}
                            <div class="single-container cgs-single cgs-answer">
                                {% include "widgets/blocks/streamfield.html" with value=block.value %}
                            </div>                        
                        {% elif block.block_type == 'multiple_answer' %}
                            {% include "agents/widgets/multiple_answer_block.html" with value=block.value %}
                        {% elif block.block_type == 'step_answer' %}
                            {% include "agents/widgets/step_answer_block.html" with value=block.value %}
                        {% endif %}
                    {% endfor %}
                </div>
                
                {% comment %} Affiche les FAQ liées, si elles existent {% endcomment %}
                {% if page.related %}
                    <div class="faq-related">
                        <h2>Thèmes similaires</h2>
                        {% for block in page.related %}
                            {% include_block block %}
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% comment %} Affiche les textes de loi liés, si ils existent {% endcomment %}
                {% if page.law_texts %}
                    <div class="faq-law-texts">                        
                        <div class="law-block primary">
                            <h2 class="cgs-button faq-law" title="Afficher">Textes de loi</h2>                            
                            <div class="law-content">
                                {% for block in page.law_texts %}                                    
                                    <div><a href="{{ block.value.text_link }}">{{ block.value.text_name }}</a></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                
                {% comment %} Affiche les tags liés à la FAQ, si ils existent {% endcomment %}
                {% if page.tags.all %}
                    <div class="faq-tags">
                        <h2>Tags</h2>
                        {% for tag in page.tags.all %}
                            <a href="{% slugurl 'faq' %}?tag={{ tag.slug }}">
                                <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Tags: {{ tag.name }}">
                                    {{ tag.name }}
                                </button>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            {% comment %} Affiche les pages de FAQ par catégorie {% endcomment %}
            <div class="faq-category-index">
                {% for category in page.faqpages %}
                    <div class="faq-category-item">
                        <a href="{{ category.url }}">{{ category }}</a>
                    </div>
                {% endfor %}
            </div>

            {% comment %} Affiche les pages de FAQ par tag {% endcomment %}
            <div class="faq-tag-index">
                {% for tag in page.faqpages %}
                    <div class="faq-tag-item">
                        <a href="{{ tag.url }}">{{ tag }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main> 
{% endblock %}