{% extends "administration/administration_base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags static %}

{% block extra_css %}
    {% if is_pdf %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/convocation_pdf.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/convocation_conseil_pdf.min.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/convocation.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/convocation_conseil.min.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    <main class="main-content">          
    {% comment %} Convocation pre-intranet (Pièces-jointes uniquement) {% endcomment %}
        {% if old %}
            {% for document in page.convocation_documents.all %}
                {% with doc=document.document %}
                    {% if doc %}
                        <div id="viewer" alt="{% if doc.title %}{{ doc.title }}{% else %}{{ doc }}{% endif %}" data-url="{{doc.url}}">            
                            {% comment %} Fichier administration_convocation.js {% endcomment %}                            
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% comment %} Convocation post-intranet (Document au complet) {% endcomment %}
        {% else %}
            {% comment %} Watermark {% endcomment %}
            {% if settings.dashboard.PDFSettings.watermark %}
                {% image settings.dashboard.PDFSettings.watermark original class="watermark" alt="Watermark" %}
            {% endif %}
    
            {% comment %} Logo {% endcomment %}
            {% if settings.dashboard.PDFSettings.logo %}
                {% image settings.dashboard.PDFSettings.logo original class="logo" alt="Logo" %}
            {% endif %}

            <div class="grid-item grid-invitation">
                <div class="grid-invitation-content">
                    {% for function, users in grouped_convocation_users.items %}
                        {% if forloop.first %}
                            {% for user in users %}
                                <p>{{ user.gender }} {{ user.identity }}</p>
                            {% endfor %}
                            <p>{{ function }}</p>
                            <p>A</p>
                            <p>Mesdames, Messieurs les</p>
                            <p>délégués communautaires et</p>
                            <p>délégués suppléants</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            
            <div class="grid-item grid-informations">
                <p>{{ settings.dashboard.PDFSettings.locality }}</p>
                <p>Le {{ page.latest_revision_created_at|date:"l d F Y" }}</p>
            </div>

            <div class="grid-item grid-opening">
                <p>{{ settings.dashboard.PDFSettings.opening_councils|linebreaksbr }}</p>
            </div>

            <div class="grid-item grid-rdv">
                <p>
                    {{ page.date|date:"l d F Y" }} à {{ page.date|date:"H" }} heure{% if page.date|date:"H"|add:"0" > 1 %}s{% endif %} {{ page.date|date:"i" }}
                    
                </p>        
                <p>{{ settings.dashboard.PDFSettings.locality_description }}</p>
            </div>

            <div class="grid-item grid-odj">
                <p>A l’ordre du jour sont inscrits les points suivants :</p>
                <p>{{ page.body|richtext }}</p>
            </div>
            
            <div class="grid-item grid-closing">
                <p>{{ settings.dashboard.PDFSettings.closing_councils }}</p>
            </div>

            <div class="grid-item grid-signature">
                {% for function, users in grouped_convocation_users.items %}
                    {% if forloop.first %}
                        {% for user in users %}
                            <p>{{ user.identity }},</p>
                        {% endfor %}
                        <p>{{ function }},</p>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="grid-item grid-documents">
                <h4>Documents associés :</h4>
                <ul>
                {% for piece_jointe in page.convocation_documents.all %}
                    {% if piece_jointe.document %}
                        <span>
                            <a href="{{ piece_jointe.document.url }}" target="_blank">{{ piece_jointe.title }} |</a>
                        </span>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            
            {% comment %} Image de pied de page {% endcomment %}
                {% if settings.dashboard.PDFSettings.footer_image %}
                {% image settings.dashboard.PDFSettings.footer_image original class="footer-image" alt="Footer Image" %}
            {% endif %}
        {% endif %}
        </main>
{% endblock %}
