<main class="main-content">          
    <div class="cgs-container cgs-{{ item_type }}">
        {% if is_menu %}
            {% include 'administration/widgets/ul_item.html' with index=False %}
        {% else %}
            <div class="cgs-page">  
                {% include 'widgets/images/swap.html' with wrapper=True filter=True smooth=True horizontal=True wrap_class="recherche" swap_class="cgs-standard-icon" swap_initial="Masquer" %}
                {% include "widgets/search/filters.html" %}

                <div class="cgs-list">
                    {% if members %}
                        {% include 'widgets/images/swap.html' with wrapper=True chevron=True smooth=True heading="Afficher la liste des membres" wrap_class="members" swap_class="cgs-standard-icon" swap_initial="Afficher" %}
                        <section class="cgs-members cgs-swap-hidden">
                            <div id="action-buttons" class="cgs-action">
                                <button id="cgs-copy" alt="Copy button (clipboard)" title="Copier dans le presse-papier">
                                    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.copy class_type="cgs-standard-icon cgs-nofill" %}
                                </button>
                                <button id="cgs-download" alt="Téléchargement des données" title="Télécharger la liste des membres">
                                    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.download class_type="cgs-standard-icon cgs-nofill" %}
                                </button>
                                <button id="cgs-print" alt="Imrimer les données" title="Imprimer la liste des membres">
                                    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.print class_type="cgs-standard-icon cgs-nofill" %}
                                </button>
                                <div id="emailsContainer" style="display: none;">
                                    {% for _, members_group in members.items %}
                                        {% for member in members_group %}
                                            <span class="email">{{ member.email }}</span>
                                        {% endfor %}
                                    {% endfor %}
                                </div>                                     
                            </div>
                                {% for function, group in members.items %}
                                    {% if group.members %}                 
                                        <h2>{{ function }} - {{ group.size }}</h2>
                                        <ul>
                                            {% for member in group.members %}
                                                <li>
                                                    {% comment %} On crée un mail to {% endcomment %}                                                    
                                                        <a 
                                                            href="mailto:{{ member.email }}" 
                                                            title="Envoyer un mail à {{ member.get_full_name }}" 
                                                            class="email"
                                                        >                                                    
                                                        {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.mail_to class_type="cgs-zerofill" %}{{ member.get_full_name }} - {{ member.get_municipality_display }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                        </section>
                    {% endif %}

                    {% if children.convocation_pages_by_year or children.compterendu_pages_by_year %}
                        <ul class="{{ class_type }}-box {{ item_type }}">
                            {% for year, convocations in children.convocation_pages_by_year.items %}
                                    <h2>Convocations {{ year }}</h2>
                                    {% for convocation in convocations %}
                                        {% include 'administration/widgets/li_item.html' with item=convocation %}
                                    {% endfor %}
                            {% endfor %}
                        </ul>

                        <ul class="{{ class_type }}-box {{ item_type }}">
                            {% for year, compterendus in children.compterendu_pages_by_year.items %}
                                    <h2>Comptes-Rendus {{ year }}</h2>
                                    {% for compterendu in compterendus %}
                                        {% include 'administration/widgets/li_item.html' with item=compterendu %}
                                    {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</main>    