{% if convocation or compte_rendu %}
    <nav class="cgs-news news administration cgs-swap-hidden">
        <ul class="news-box incomming">
            {% if convocation %}
                {% with class_type="news" item=convocation %}
                    {% include 'administration/widgets/li_item.html' %}
                {% endwith %}     
            {% endif %}
            {% if compte_rendu %}   
                {% with class_type="news" item=compte_rendu %}
                    {% include 'administration/widgets/li_item.html' %}
                {% endwith %}
            {% endif %}
        </ul>
    </nav>
{% endif %}
