{% load wagtailcore_tags cgs_tags restriction_tags %}

{% if menu %}
    <ul class="{{ class_type }}-box {{ item_type }}{% if is_form %} highlighted{% endif %}">
        {% for item in menu %}
            {% authorized_user item as visible %}
            {% if visible %}
                {% include 'administration/widgets/li_item.html' %}
            {% endif %}
        {% endfor %}
        
        {% if index %}        
            <li class="nav-item {{ child_type }} index{% if item_type != "commissions" and item_type == page.slug %} cgs-selected{% endif %}">
                <a 
                    href="{{page.get_parent.specific.url}}"
                    class="nav-link theme" 
                    title="Retour à l'index" 
                    alt="{{item_type}} Index"
                >                
                {% if page.slug == "commissions" %}                
                    {% include 'widgets/images/logo.html' with intranet_icon=page.get_parent.specific.logo class_type="cgs-bright cgs-nofill" %}
                {% else %}
                    {% include 'widgets/images/logo.html' with intranet_icon=page.get_parent.specific.logo class_type="cgs-bright" %}
                {% endif %}
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}