{% load static wagtailcore_tags %}
{% wagtail_site as intranet %}

<li class="header-item">                
    <a href="/" class="header-link" title="{{ intranet.root_page.specific.tooltip }}">
        <div class="logo-pochoir left">
            <img src="{% static 'images/pochoir-left.png' %}" alt="Logo CGS">
        </div>
        <div class="logo-section right">
            <div class="logo-pochoir right">
                <img src="{% static 'images/pochoir-right-1.png' %}" alt="Cagire">
            </div>
            <div class="logo-pochoir right">
                <img src="{% static 'images/pochoir-right-2.png' %}" alt="Garonne">
            </div>
            <div class="logo-pochoir right">
                <img src="{% static 'images/pochoir-right-3.png' %}" alt="Salat">
            </div>
            <div class="logo-pochoir right">
                <img src="{% static 'images/pochoir-right-4.png' %}" alt="Communauté de communes">
            </div>
        </div>        
    </a>
</li>