{% load menu_tags wagtailadmin_tags %}

<li class="header-item">   
    <nav class="cgs-nav profile">
        <ul class="nav-box profile">
            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.user_profile class_type="avatar cgs-nofill" %}
            <span class="cgs-arrow"></span>
            <span class="cgs-arrow cache"></span>              
            {% with class_type="nav" menu_type="profile" %}
                {% flat_menu 'logged_in' show_menu_heading=False max_levels=1 %}
            {% endwith %}
        </ul>
    </nav>
</li>

{% comment %} 
{% if user.wagtail_userprofile.avatar %}
<img src="{% avatar_url user %}" alt="" class="avatar custom"/>
{% else %}
    {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.previous_item %}
{% endif %} 
{% endcomment %}