{% load menu_tags wagtailadmin_tags %}

<li class="header-item">   
    <nav class="cgs-nav profile">
        <ul class="nav-box profile">
            {% if request.user.wagtail_userprofile.avatar %}  
                <img src="{% avatar_url request.user %}" alt="" class="avatar cgs-nofill"/>
            {% else %}  
                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.user_profile class_type="avatar cgs-nofill" %}
            {% endif %}
            <span class="cgs-arrow"></span>
            <span class="cgs-arrow cache"></span>              
            {% with class_type="nav" menu_type="profile" %}
                {% flat_menu 'logged_in' show_menu_heading=False max_levels=1 %}
            {% endwith %}
        </ul>
    </nav>
</li>