{% load menu_tags wagtailadmin_tags %}

<li class="header-item">   
    <nav class="cgs-nav profile">
        <ul class="nav-box profile">
            {% if request.user.cgs_userprofile.avatar %}
                    <img 
                        class="avatar cgs-nofill" 
                        alt="{{ user_base.get_full_name|default:'' }}"
                        src="{{ request.user.cgs_userprofile.avatar.url }}" 
                    />
            {% else %}  
                {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.user_profile class_type="avatar cgs-nofill" %}
            {% endif %}
            <span class="cgs-arrow"></span>
            <span class="cgs-arrow cache"></span>              
            {% with class_type="nav" menu_type="profile" %}
                {% flat_menu 'logged_in' show_menu_heading=False max_levels=1 %}
            {% endwith %}
        </ul>
    </nav>
</li>