{% extends "wagtailadmin/admin_base.html" %}
{% load i18n static wagtailadmin_tags account socialaccount %}

{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.min.css' %}">
{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <div class="header-bar cgs-content-block">
            <h1>{% trans "Sign in" %}</h1>
        </div>

        <div class="messages" role="status">
            {% if messages or form.errors %}
                <ul>
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="login-logo cgs-content-block">
            <img src="{% static 'images/cgs-blanc.png' %}" alt="Logo CGS blanc"/>
            <h1>{% trans "Welcome !" %}</h1>
        </div>

        {% if next and not request.user.is_authenticated %}
        <p>{% trans "Please log in to access this page." %}</p>
        {% endif %}                

        <form class="login-form cgs-content-block" action="{% url 'account_login' %}" method="post" autocomplete="off" novalidate>
            {% csrf_token %}

            {{ form.non_field_errors | safe }}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">

            <div class="w-field__wrapper cgs-form-block" data-field-wrapper="">  
                <label class="w-field__label" for="id_login" id="id_username-label">{% trans "Username" %}</label>
                <div class="w-field w-field--char_field w-field--text_input" data-field="" data-contentpath="username">
                    <div class="w-field__errors" data-field-errors=""></div>
                    <div class="w-field__help" data-field-help=""></div>
                    <div class="w-field__input" data-field-input="">
                        <input  id="id_login" type="text" name="login" maxlength="150" value="" autocomplete="email" required="">
                    </div>
                </div>
            </div>
            
            <div class="w-field__wrapper cgs-form-block password" data-field-wrapper=""> 
                <label class="w-field__label" for="id_password" id="id_password-label">{% trans "Password" %}</label>
                <div class="w-field w-field--char_field w-field--password_input" data-field="" data-contentpath="password"> 
                    <div class="w-field__errors" data-field-errors=""></div> 
                    <div class="w-field__help" data-field-help=""></div>
                    <div class="w-field__input" data-field-input="">       
                        <input id="id_password" type="password" name="password" autocomplete="current-password" required="">
                        <span class="cgs-eye cgs-hidden"></span> 
                    </div>
                </div>
            </div>

            <a class="reset-password cgs-form-block" href="{% url 'account_reset_password' %}">{% trans "Forgotten password?" %}</a>

            {% trans "Remember me" as checkbox_text %}
            {% include "wagtailadmin/shared/forms/single_checkbox.html" with label_classname="remember-me cgs-form-block" name="remember" text=checkbox_text %}

            <footer class="form-actions cgs-form-block">
                    <div class="fake button">
                        {% trans 'Connexion' %}
                    </div>

                    <button
                        type="submit"
                        class="button button-longrunning"
                        data-controller="w-progress"
                        data-action="w-progress#activate"
                        data-w-progress-active-value="{% trans 'Connexion…' %}"
                    >
                        {% icon name="spinner" %}
                        <em data-w-progress-target="label">{% trans 'Connexion' %}</em>
                    </button>
            </footer>
            
            <section class="signup-option cgs-option-block">
                <p>
                    {% blocktrans %}
                        <span>If you do not have an account yet, please</span>
                        <span><a href="{{ signup_url }}">sign up</a></span>
                        <span>before login in.</span>
                    {% endblocktrans %}
                </p>
            </section>
        </form>
    </main>
{% endblock %}
