{% extends "account/base.html" %}
{% load i18n static wagtailadmin_tags account allauth %}

{% block titletag %}{% trans "Password Reset" %}{% endblock %}
{% block bodyclass %}password reset{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <div class="header-bar cgs-content-block">
            <h1>{% trans "Password Reset" %}</h1>
        </div>

        <div class="messages" role="status">
            <!-- Place for any messages if needed -->
        </div>
        
        <div class="confirm-logo cgs-content-block">
            <img src="{% static 'images/cgs-blanc.png' %}" alt="Logo CGS blanc"/>
        </div>

        {% element h2 %}
            {% trans "Enter your Email" %}
        {% endelement %}        

        <div class="w-field__wrapper cgs-form-block info">
            {% if user.is_authenticated %}
                {% user_display user as user_display %}
                <p>
                    <em>{% blocktrans %}Note{% endblocktrans %}:<em>
                    <span>{% blocktrans %}You are already logged in as {{ user_display }}.{% endblocktrans %}</span>
                </p>
            {% endif %}
        </div>

        <div class="w-field__wrapper cgs-form-block confirm reset">
            <p class="reset">
                {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
            </p>
        </div>

        <footer class="form-actions cgs-form-block reset-form">
            {% url 'account_reset_password' as reset_url %}
            {% element form form=form method="post" action=reset_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}                
                {% slot actions %}
                    <button
                        type="submit"
                        class="reset button button-longrunning"
                        data-controller="w-progress"
                        data-action="w-progress#activate"
                        data-w-progress-active-value="{% trans 'Resetting…' %}"
                    >
                        {% icon name="spinner" %}
                        <em data-w-progress-target="label">{% trans 'Reset My Password' %}</em>
                    </button>
                {% endslot %}
            {% endelement %}
        </footer>

        <section class="reset-option cgs-option-block">
            <p>
                <span>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</span>
            </p>
      </section>

{% endblock furniture %}
