{% extends "account/base.html" %}
{% load i18n static wagtailadmin_tags allauth %}

{% block titletag %}{% trans "Change Password" %}{% endblock %}
{% block bodyclass %}password reset{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <div class="header-bar cgs-content-block">
            {% element h1 %}
                {% if token_fail %}
                    {% trans "Bad Token" %}
                {% else %}
                    {% trans "Change Password" %}
                {% endif %}
            {% endelement %}
        </div>

        <div class="messages" role="status">
            <!-- Place for any messages if needed -->
        </div>
        
        <div class="confirm-logo cgs-content-block">
            <img src="{% static 'images/cgs-blanc.png' %}" alt="Logo CGS blanc"/>
        </div>

        {% element h2 %}
            {% trans "Choose new password" %}
        {% endelement %}    

        {% if token_fail %}
        <section class="reset-option cgs-option-block">
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
        </section>  

        {% else %}
            <footer class="form-actions cgs-form-block reset-form">
                {% element form method="post" action=action_url %}
                    {% slot body %}
                        {% csrf_token %}
                        {% element fields form=form %}
                        {% endelement %}
                    {% endslot %}                    
                    {% slot actions %}
                        <button
                            name="action"
                            type="submit"
                            class="reset button button-longrunning"
                            data-controller="w-progress"
                            data-action="w-progress#activate"
                            data-w-progress-active-value="{% trans 'Changing…' %}"
                        >
                            {% icon name="spinner" %}
                            <em data-w-progress-target="label">{% trans 'Change Password' %}</em>
                        </button>
                    {% endslot %}
                {% endelement %}
            </footer>
        {% endif %}
{% endblock furniture %}