{% extends "account/base.html" %}
{% load i18n static allauth wagtailadmin_tags %}

{% block titletag %}{% trans "Change Password" %}{% endblock %}
{% block bodyclass %}password change{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <div class="header-bar cgs-content-block">
            {% element h1 %}
                {% trans "Change Password" %}
            {% endelement %}
        </div>

        <div class="messages" role="status">
            <!-- Place for any messages if needed -->
        </div>
        
        <div class="confirm-logo cgs-content-block">
            <img src="{% static 'images/cgs-blanc.png' %}" alt="Logo CGS blanc"/>
        </div>

        {% element h2 %}
            {% trans "Choose new password" %}
        {% endelement %}
        
        <footer class="form-actions cgs-form-block change-form">
            {% url 'account_change_password' as action_url %}
            {% element form form=form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}                    
                {% slot actions %}
                    <button
                        name="action"
                        type="submit"
                        class="change button button-longrunning"
                        data-controller="w-progress"
                        data-action="w-progress#activate"
                        data-w-progress-active-value="{% trans 'Changing…' %}"
                    >
                        {% icon name="spinner" %}
                        <em data-w-progress-target="label">{% trans 'Change Password' %}</em>
                    </button>
                {% endslot %}
            {% endelement %}
        </footer>
{% endblock furniture %}