{% extends "account/base.html" %}
{% load i18n static allauth %}

{% block titletag %}{% trans "Change Password" %}{% endblock %}
{% block bodyclass %}password reset{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <div class="header-bar cgs-content-block">
            <h1>{% trans "Change Password" %}</h1>
        </div>

        <div class="confirm-logo cgs-content-block">
            <img src="{% static 'images/cgs-blanc.png' %}" alt="Logo CGS blanc"/>
        </div>

        <div class="messages" role="status">
            <!-- Place for any messages if needed -->
        </div>

        {% element h2 %}
            {% trans "Password Reset" %}
        {% endelement %}

        <div class="w-field__wrapper cgs-form-block confirm">
            <p>
                <p>{% trans 'Your password is now changed.' %}</p>
            </p>
        </div>

        <section class="reset-option cgs-option-block">
            <p>
                <span>
                    {% trans "Congratulations," %}&nbsp
                </span>
                <span>
                    <a href="/" class="btn btn-outline-primary">{% trans "sign up" %}</a>                      
                </span>
                <span>
                    {% trans "with your new password to go back to site." %}
                </span>
            <p>
      </section>

    </main>
{% endblock %}