{% extends "account/base.html" %}
{% load i18n static allauth account %}

{% block titletag %}{% trans "Password Reset" %}{% endblock %}
{% block bodyclass %}password reset{% endblock %}

{% block furniture %}
    <main class="content-wrapper" id="main">
        <div class="header-bar cgs-content-block">
            <h1>{% trans "Password Reset" %}</h1>
        </div>

        <div class="confirm-logo cgs-content-block">
            <img src="{% static 'images/cgs-blanc.png' %}" alt="Logo CGS blanc"/>
        </div>

        <div class="messages" role="status">
            <!-- Place for any messages if needed -->
        </div>

        {% element h2 %}
            {% trans "Check your mails to confirm password reset" %}
        {% endelement %}

        <div class="w-field__wrapper cgs-form-block info">

            {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>

        <div class="w-field__wrapper cgs-form-block confirm">
            <p>
                {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
            </p>
        </div>
        
    </main>
{% endblock %}