{% extends "base.html" %} 
{% load i18n static wagtailadmin_tags wagtailimages_tags %}

{% block body_class %}profile list{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.min.css' %}">
{% endblock %}

{% block title %}
  {% trans "Profile" %}
{% endblock %}

{% block content %}
	<main class="main-content">

		<h1>{% trans "Account profile" %}</h1>
		
		{% comment %} Boutons d'action {% endcomment %}
		<div class="cgs-container actions">			
			
			{% comment %} Sign Out Button  {% endcomment %}
			<div class="cgs-block">
				<a href="{% url 'account_logout' %}?next={% url 'account_profile' %}">
					<button
						class="button button-longrunning"
						data-controller="w-progress"
						data-action="w-progress#activate"
						data-w-progress-active-value="{% trans 'Deconnexion…' %}"
					>
						{% icon name="spinner" %}
						<em data-w-progress-target="label">{% trans 'Sign Out' %}</em>
					</button>
				</a>
			</div>

			{% comment %} Pasword change {% endcomment %}
			<div class="cgs-block">
				<a href="{% url 'account_password_change' %}?next={% url 'account_profile' %}">					
					<button
						class="button button-longrunning"
						data-controller="w-progress"
						data-action="w-progress#activate"
						data-w-progress-active-value="{% trans 'Changing…' %}"
					>
						{% icon name="spinner" %}
						<em data-w-progress-target="label">{% trans "Change Password?" %}</em>
					</button>
				</a>
			</div>
			
			{% comment %} Pasword reset {% endcomment %}
			<div class="cgs-block">
				<a href="{% url 'account_reset_password' %}">
					<button
						class="button button-longrunning"
						data-controller="w-progress"
						data-action="w-progress#activate"
						data-w-progress-active-value="{% trans 'Resetting…' %}"
					>
						{% icon name="spinner" %}
						<em data-w-progress-target="label">{% trans "Forgot Password?" %}</em>
					</button>					
				</a>
			</div>
			
			{% comment %} Admin Button  {% endcomment %}
			<div class="cgs-block">
					<a href="{% url 'wagtailadmin_home' %}" class="btn btn-outline-primary btn-sm">
						<button
							class="button button-longrunning"
							data-controller="w-progress"
							data-action="w-progress#activate"
							data-w-progress-active-value="{% trans 'Administration…' %}"
						>
							{% icon name="spinner" %}
							<em data-w-progress-target="label">{% trans "Admin panel" %}</em>						
						</button>						
					</a>
			</div>
		</div>

		{% comment %} Informations personnelles {% endcomment %}
		<div id="profile-block" class="cgs-container profile">
			
			{% comment %} Nom, prénom, pseudo, date de naissance et téléphone {% endcomment %}
			<div class="cgs-block">
				<legend>{% trans "Identity" %}</legend>
			
				{% comment %} Last Name  {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Last name" %}</label>
				<p class="mb-0">{{ user_base.last_name|default:'' }}</p>
				</div>
	
				{% comment %} First Name  {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "First name" %}</label>
				<p class="mb-0">{{ user_base.first_name|default:'' }}</p>
				</div>

				{% comment %} Civility {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Civility" %}</label>
				<p class="mb-0">{{ user_base.civility.name|default:'' }}</p>
				</div>

				{% comment %} Date of Birth  {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Date of birth" %}</label>
				<p class="mb-0">{{ user_base.date_of_birth|date:"D d M Y"|default:'' }}</p>
				</div>
				
				{% comment %} Mobile Phone  {% endcomment %}
				<div class="col border py-2">
					<label class="text-muted"> {% trans "Mobile phone" %}:</label>
					<p class="mb-0">{{ user_base.mobile_phone|default:'' }}</p>
				</div>
			</div>

			{% comment %} Adresse postale {% endcomment %}
			<div class="cgs-block">
				<legend>{% trans "Adress" %}</legend>

				{% comment %} Address Line 1  {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Address line 1" %}</label>
				<p class="mb-0">{{ user_base.address1|default:'' }}</p>
				</div>
			
				{% comment %} Address Line 2  {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Address line 2" %}</label>
				<p class="mb-0">{{ user_base.address2|default:'' }}</p>
				</div>
			
				{% comment %} Postal Code  {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Postal Code" %}</label>
				<p class="mb-0">{{ user_base.zip_code|default:'' }}</p>
				</div>
			
				{% comment %} City  {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "City" %}</label>
				<p class="mb-0">{{ user_base.city|default:'' }}</p>
				</div>
			</div>

			{% comment %} Thème, langue, fuseau horaire et photo de profil {% endcomment %}
			<div class="cgs-block">		
				<legend>{% trans "Parameters" %}</legend>

				{% comment %} Theme (sombre/clair) {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Theme" %}:</label>
				<p class="mb-0">{{ user_extra.theme.name|default:'' }}</p>
				</div>

				{% comment %} Couleur des icones {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted">{% trans "Icons color"%}:</label>
				<p class="mb-0">{{ user_extra.icon.name|default:'' }}</p>
				</div>

				{% comment %} Photo de profil {% endcomment %}
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Profile picture" %}:</label>
				{% if user_extra.avatar %}
					<p><img class="cgs-huge-icon cgs-expandable" src="{{ user_extra.avatar }}" alt="{{ user_base.get_full_name|default:'' }}"></p>
				{% else %}
					{% image settings.dashboard.IntranetIcons.user_profile original as img %}
					<p><img class="cgs-huge-icon cgs-expandable" src="{{ img.url }}" alt="{{ user_base.get_full_name|default:'' }}"></p>
				{% endif %}
				</div>

				{% comment %} Language (fr/en) {% endcomment %}
				{% comment %} 
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Language" %}:</label>
				<p class="mb-0">{{ user_extra.preferred_language|default:'' }}</p>
				</div> 
				{% endcomment %}

				{% comment %} Fuseau horaire {% endcomment %}
				{% comment %} 
				<div class="col border py-2">
				<label class="text-muted"> {% trans "Timezone" %}:</label>
				<p class="mb-0">{{ user_extra.current_time_zone|default:'' }}</p>
				</div> 
				{% endcomment %}
			</div>			
		</div>

		{% comment %} Formulaire de modification {% endcomment %}
		<div id="update-block" class="cgs-container update cgs-hidden">
			<form id="profile-update" method="post" action="{% url 'profile_update' %}" enctype="multipart/form-data">
				{% csrf_token %}

				{% comment %} Tous les champs modifiables {% endcomment %}
				<div class="form-groups">
					<legend>{% trans "Identity" %}</legend>

					<!-- Champ Nom -->
					<div class="form-group no-input">
						<label>{% trans "Last name" %}</label>
						<input type="text" class="form-control" value="{{ user_base.last_name }}" readonly>
					</div>

					<!-- Champ prénom  -->
					<div class="form-group no-input">
						<label for="first_name">{% trans "First name" %}</label>
						<input type="text" class="form-control" value="{{ user_base.first_name }}" readonly>
					</div>

					<!-- Champ Civilité -->
					<div class="form-group">
						<label for="civility">{% trans "Civility" %}</label>
						<select class="form-control" id="civility" name="civility">
							{% for gender in genders %}
								<option value="{{ gender.code }}" {% if user_base.civility.code == gender.code %}selected{% endif %}>{{ gender.name }}</option>
							{% endfor %}
						</select>
					</div>

					<!-- Champ Date de Naissance -->
					<div class="form-group">
						<label for="date_of_birth">{% trans "Date of birth" %}</label>
						<input type="date" class="form-control" id="date_of_birth" name="date_of_birth" value="{{ user_base.date_of_birth|date:'Y-m-d' }}">
					</div>

					<!-- Champ Téléphone Mobile -->
					<div class="form-group">
						<label for="mobile_phone">{% trans "Mobile phone" %}</label>
						<input type="text" class="form-control" id="mobile_phone" name="mobile_phone" value="{{ user_base.mobile_phone }}">
					</div>
				</div>

				<div class="form-groups">					
					<legend>{% trans "Adress" %}</legend>
		
					<!-- Champ Adresse Ligne 1 -->
					<div class="form-group">
						<label for="address1">{% trans "Address line 1" %}</label>
						<input type="text" class="form-control" id="address1" name="address1" value="{{ user_base.address1 }}">
					</div>

					<!-- Champ Adresse Ligne 2 -->
					<div class="form-group">
						<label for="address2">{% trans "Address line 2" %}</label>
						<input type="text" class="form-control" id="address2" name="address2" value="{{ user_base.address2 }}">
					</div>

					<!-- Champ Code Postal -->
					<div class="form-group">
						<label for="zip_code">{% trans "Postal Code" %}</label>
						<input type="text" class="form-control" id="zip_code" name="zip_code" value="{{ user_base.zip_code }}">
					</div>

					<!-- Champ Ville -->
					<div class="form-group">
						<label for="city">{% trans "City" %}</label>
						<input type="text" class="form-control" id="city" name="city" value="{{ user_base.city }}">
					</div>
				</div>

				<div class="form-groups">
					<legend>{% trans "Parameters" %}</legend>

					<!-- Champ Thème d'affichage -->
					<div class="form-group no-input">
						<label for="theme">{% trans "Theme" %}</label>
						<select class="form-control" id="theme" name="theme" readonly>
							{% for style in styles %}
								<option value="{{ style.code }}" {% if user_extra.theme.code == style.code %}selected{% endif %}>{{ style.name }}</option>
							{% endfor %}
						</select>
					</div>

					<!-- Couleur des icones -->
					<div class="form-group">
						<label for="icons">{% trans "Icons" %}</label>
						<select class="form-control" id="icons" name="icons">
							{% for color in colors %}
								<option value="{{ color.code }}" {% if user_extra.icon.code == color.code %}selected{% endif %}>{{ color.name }}</option>
							{% endfor %}
						</select>
					</div>

					<!-- Champ Photo de profil -->
					<div class="form-group avatar">
						<label for="avatar">{% trans "Icon profile" %}</label>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="clear_avatar" name="clear_avatar">
							<label class="form-check-label" for="clear_avatar">
								{% trans "Delete actual" %}
							</label>
						</div>
						{% if user_extra.avatar %}
							{% image settings.dashboard.IntranetIcons.user_profile original as img %}
							<img 
								id="preview_avatar" 
								class="cgs-huge-icon cgs-expandable" 
								alt="{{ user_base.get_full_name|default:'' }}"
								src="{{ user_extra.avatar }}" 
								data-default="{{ img.url }}"
								data-current="{{ user_extra.avatar }}"
							/>
						{% else %}
							{% image settings.dashboard.IntranetIcons.user_profile original as img %}
							<img 
								id="preview_avatar" 
								class="cgs-huge-icon cgs-expandable" 
								alt="{{ user_base.get_full_name|default:'' }}"
								src="{{ img.url }}" 
								data-default="{{ img.url }}"
								data-current="{{ img.url }}"
							/>		
						{% endif %}
					</div>
					<div class="form-group nofill">
						<input type="file" class="form-control" id="avatar" name="avatar">
					</div>
					
					{% comment %} 
					<!-- Champ Langue préférée -->
					<div class="form-group">
						<label for="preferred_language">{% trans "Language" %}</label>
						<select class="form-control" id="preferred_language" name="preferred_language">
							{% for language in languages %}
								<option value="{{ language.code }}" {% if user_extra.preferred_language == language.code %}selected{% endif %}>{{ language.name }}</option>
							{% endfor %}
						</select>
					</div>

					<!-- Champ Fuseau horaire -->
					<div class="form-group">
						<label for="current_time_zone">{% trans "Timezone" %}</label>
						<select class="form-control" id="current_time_zone" name="current_time_zone">
							{% for timezone in timezones %}
								<option value="{{ timezone.code }}" {% if user_extra.current_time_zone == timezone.code %}selected{% endif %}>{{ timezone.name }}</option>
							{% endfor %}
						</select>
					</div> 
					{% endcomment %}

					<div class="cgs-hidden">
					    <input type="hidden" name="next" value="{{ request.GET.next }}">
					</div>
				</div>

				{% comment %} Bouton de soumission de formulaire {% endcomment %}
				<div class="soumission">
					<button
						type="submit"
						class="reset button button-longrunning"
						data-controller="w-progress"
						data-action="w-progress#activate"
						data-w-progress-active-value="{% trans 'Changing…' %}"
					>
						{% icon name="spinner" %}
						<em data-w-progress-target="label">{% trans 'Change' %}</em>
					</button>
				</div>
			</form>
		</div>

		{% comment %} Bouton pour modifier les infos personnelles {% endcomment %}
		<div class="cgs-container button">
			<div class="cgs-block{% if request.GET.form %} cgs-open{% endif %}">
				<a 
					{% if request.GET.form %} 
						href="{% url 'account_profile' %}"
						alt="Fermer le formulaire"
						title="Annuler les modifications"
					{% else %}
						href="{% url 'account_profile' %}?form=true#profile-update"
						alt="Ouvrir le formulaire pour modifier ses informations personnelles"
						title="Modifier mes informations personnelles"
					{% endif %}
				>
					<button
						class="button button-longrunning"
						data-controller="w-progress"
						data-action="w-progress#activate"
						data-w-progress-active-value="{% trans 'Opening…' %}"
					>
						{% icon name="spinner" %}						
						{% if request.GET.form %} 
							<em data-w-progress-target="label">{% trans 'Cancel' %}</em>
						{% else %}
							<em data-w-progress-target="label">{% trans 'Change informations' %}</em>
						{% endif %}
					</button>
				</a>
			</div>
		</div>

	</main>    
{% endblock %}