{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailuserbar menu_tags cgs_tags static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/divers.min.css' %}">
{% endblock extra_css %}

{% block body_class %}cgs-{{ item_type }} {% if is_root %}menu{% else %}{{ class_type }}{% endif %}{% endblock %}

{% block content %}
<main class="main-content">          
    <div class="cgs-container cgs-{{ item_type }}">
        {% if is_root %}   
            {% cgs_cloud class_type="menu" %}
        {% else %}
            <div class="cgs-page">  
                {% if request.GET %}
                    {% with swap_initial="Masquer" %}
                        {% include 'widgets/images/swap.html' with wrapper=True filter=True smooth=True horizontal=True wrap_class="recherche" swap_class="cgs-standard-icon" swap_initial=swap_initial %}
                    {% endwith %}
                {% else %}
                    {% with swap_initial="Afficher" %}
                        {% include 'widgets/images/swap.html' with wrapper=True filter=True smooth=True horizontal=True wrap_class="recherche" swap_class="cgs-standard-icon" swap_initial=swap_initial %}
                    {% endwith %}
                {% endif %}
                {% include "widgets/search/filters.html" %}
                
                <div class="cgs-{{ class_type }}">
                    {% for type, pages in grouped_subpages.items %}
                        {% if pages %}
                            {% if type == 'generic' %}
                                <h2>Pages web</h2>
                                <ul class="{{ class_type }}-box {{ item_type }} webpages">
                                    {% for page in pages %}
                                        <li class="{{ class_type }}-item {{ item_type }} webpage">
                                            <a 
                                                href="{{ page.url }}"
                                                class="{{ class_type }}-link {{ item_type }} webpage" 
                                                title="{% if page.tooltip %}{{ page.tooltip}}{% elif page.slug %}{{ page.slug}}{% endif %}"
                                                alt="{{ page.title|default_if_none:'' }}"
                                                target="_blank"
                                            >                                            
                                            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_generic class_type="cgs-nofill cgs-standard-icon" %}
                                            <p>{{ page.title }}</p>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            
                            {% if type == 'download' %}
                                <h2>Documents</h2>
                                <ul class="{{ class_type }}-box {{ item_type }} documents">
                                    {% for page in pages %}
                                        <li class="{{ class_type }}-item {{ item_type }} document">
                                            <a 
                                                href="{{ page.url }}"
                                                class="{{ class_type }}-link {{ item_type }} document" 
                                                title="{% if page.tooltip %}{{ page.tooltip}}{% elif page.slug %}{{ page.slug}}{% endif %}"
                                                alt="{{ page.title|default_if_none:'' }}"
                                            > 
                                            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_download class_type="cgs-nofill cgs-standard-icon" %}
                                            <p>{{ page.title }}{% include 'widgets/images/logo.html' with intranet_icon=page.logo class_type="cgs-standard-icon cgs-zerofill" %}</p>                                            
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            
                            {% if type == 'form' %}
                                <h2>Formulaires divers</h2>
                                <ul class="{{ class_type }}-box {{ item_type }} formulaires">
                                    {% for page in pages %}
                                        <li class="{{ class_type }}-item {{ item_type }} formulaire">
                                            <a 
                                                href="{{ page.url }}"
                                                class="{{ class_type }}-link {{ item_type }} formulaire" 
                                                title="{% if page.tooltip %}{{ page.tooltip}}{% elif page.slug %}{{ page.slug}}{% endif %}"
                                                alt="{{ page.title|default_if_none:'' }}"
                                            > 
                                            {% include 'widgets/images/logo.html' with intranet_icon=settings.dashboard.IntranetIcons.home_form class_type="cgs-nofill cgs-standard-icon" %}
                                            <p>{{ page.title }}</p>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                
            </div>
        </main>   
    {% endif %} 
{% endblock content %}

{% block footer_left %}
  {% include 'widgets/search/query.html' %}
{% endblock %}

{% block footer_mid %}
    {% if is_root %}
        {% cgs_cloud class_type="nav"%}
    {% else %}
        {% cgs_cloud class_type="nav" index=True %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/divers.min.js' %}"></script>
{% endblock %}