{% extends "base.html" %}
{% load restriction_tags wagtailcore_tags wagtailimages_tags wagtailuserbar menu_tags cgs_tags static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/divers.min.css' %}">
{% endblock extra_css %}

{% block body_class %}cgs-home {{ item_type }} {% if is_root %}menu{% else %}{{ class_type }}{% endif %}{% endblock %}

{% block content %}
    <main class="main-content">
        <div class="cgs-container cgs-{{ item_type }}">

            {% if is_root %}   
                {% cgs_cloud class_type="menu" %}
            {% else %}

                <div class="cgs-page">
                    {% include 'widgets/images/swap.html' with wrapper=True search=True smooth=True horizontal=True wrap_class="recherche" swap_class="cgs-fixed-icon" swap_initial="Afficher" %}
                    {% include "widgets/search/filters.html" %}
                    
                    <div class="cgs-{{ class_type }}">                    
                        {% for type, pages in grouped_subpages.items %}
                            {% if pages %}
                                {% if type == 'generic' %}
                                    <ul class="{{ class_type }}-box {{ item_type }} webpages {{ section }}">
                                        <h3 class="h2">Pages web</h3>
                                        {% for item in pages %}
                                            {% if item_type != "public" %}
                                                <li class="{{ class_type }}-item {{ item.item_type }} webpage">
                                                    {% include "widgets/blocks/item.html" with item_type="webpage" %}
                                                </li>
                                            {% else %}
                                                {% authorized_user item as visible %}
                                                {% if visible %}
                                                    <li class="{{ class_type }}-item {{ item.item_type }} webpage">
                                                        {% include "widgets/blocks/item.html" with item_type="webpage" %}
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                
                                {% if type == 'download' %}
                                    <ul class="{{ class_type }}-box {{ item_type }} documents {{ section }}">
                                        <h3 class="h2">Documents</h3>
                                        {% for item in pages %}
                                            {% if item_type != "public" %}
                                                <li class="{{ class_type }}-item {{ item.item_type }} document">
                                                    {% include "widgets/blocks/item.html" with item_type="document" %}
                                                </li>
                                            {% else %}
                                                {% authorized_user item as visible %}
                                                {% if visible %}
                                                    <li class="{{ class_type }}-item {{ item.item_type }} document">
                                                        {% include "widgets/blocks/item.html" with item_type="document" %}
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                
                                {% if type == 'form' %}
                                    <ul class="{{ class_type }}-box {{ item_type }} formulaires {{ section }}">
                                        <h3 class="h2">Formulaires divers</h3>
                                        {% for item in pages %}
                                            {% if item_type != "public" %}
                                                <li class="{{ class_type }}-item {{ item.item_type }} form">
                                                    {% include "widgets/blocks/item.html" with item_type="form" %}
                                                </li>
                                            {% else %}
                                                {% authorized_user item as visible %}
                                                {% if visible %}
                                                    <li class="{{ class_type }}-item {{ item.item_type }} form">
                                                        {% include "widgets/blocks/item.html" with item_type="form" %}
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %} 
        </div>
    </main>  
{% endblock content %}

{% block footer_mid %}
    {% if is_root %}
        {% cgs_cloud class_type="nav"%}
    {% else %}
        {% cgs_cloud class_type="nav" index=True %}
    {% endif %}
{% endblock %}

{% block extra_js %}
    <script type="module" src="{% static 'js/divers.min.js' %}"></script>
{% endblock %}